{% extends 'base.html.twig' %}

{% block title %} General Pro - About us {% endblock %}

{% block body %}
<section class="about-big-title text-center" data-parallax="scroll" data-image-src="images/page-home/feature_style2_bg.jpg">
  <h2 class="color-black">{{ 'menu_aboutus' | trans({}, "messages", lang) }}</h2>
  <p class="color-black">{{ 'about_band_subtitle' | trans({}, "messages", lang) }}</p>
</section>
<!-- /.about-big-title -->

<div class="container" >
  <div class="row about-slogan text-center">
    <div class="col-xs-12">
      <h3>{{ 'about_slogan_title' | trans({}, "messages", lang) }}</h3>
      <p>{{ 'about_slogan_subtitle' | trans({}, "messages", lang) }} </p>
    </div>
  </div>
  <!-- /.about-slogan -->

  <div class="row home-maintenance">
    <div class="col-md-6">
      <h3>{{ 'about_body_title' | trans({}, "messages", lang) }}</h3>
      <p>{{ 'about_body_subtitle1' | trans({}, "messages", lang) }}</p>
      <p> {{ 'about_body_subtitle2' | trans({}, "messages", lang) }} </p>
    </div>
    <div class="col-md-6">
      <img src="images/page-home/services-02.jpg" alt="">
    </div>
  </div>

  <h5>{{ 'about_testimony_title' | trans({}, "messages", lang) }}</h5>
  <i>{{ 'about_testimony_resume' | trans({}, "messages", lang) }}</i>
<p></p>
  <!-- /.home-maintenance -->
</div>

{% endblock %}