{% extends 'base.html.twig' %}

{% block title %} Admin houses{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller= "AdminController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    {% include 'website/sidemenu-admin.html.twig' %}
                </div>
                <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">


                    <div class="table-responsive">
                        <table class="table table-hover">

                            <thead class="bg-yellow font-header">
                            <tr>
                                <th colspan="5">{{ 'admin_list_customers' | trans({}, "messages", lang)}}</th>

                            </tr>
                            </thead>
                            <thead class="bg-light-gray">
                            <tr>


                                <th>{{ 'dash_technician' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'menu_services' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'form_phone_primary' | trans({}, "messages", lang)}}</th>

                                <th></th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                          {% for tech in technicians %}
                                <tr>
                                    <td class="">{{ tech.lastname}} {{ tech.firstname}}</td>
                                    <td class="">{{ tech.profession }}</td>
                                    <td class="">{{ tech.phoneprimary}}</td>


                                    <td>
                                        <button data-toggle="modal" data-target="#edittechnicianModal" ng-click="getTechnicianInformation({{ tech.technicianid}})" class="btn-primary btn-xs"><span class="glyphicon glyphicon-edit" title="edit"></span></button>
                                      <!--  <button data-toggle="modal" data-target="#edittechnicianModal" class="btn-warning btn-xs"><span class="glyphicon glyphicon-list-alt" title="details"></span></button>-->
                                    </td>
                                </tr>

                            {% endfor %}


                            </tbody>
                        </table>
                    </div>





                    </div>



            </div>
        </div>

        <div id="edittechnicianModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header bg-yellow">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'admin_edit_technician' | trans({}, "messages", lang)}}</h4>

                    </div>
                    <div class="modal-body">
                        <h5 class="error-message text-bold text-center" ng-bind="auth.message"> </h5>
                        <h5 class="message-info text-bold text-center" ng-bind="update.info"> </h5>

                        <div class="form-group">
                            <label for="edit-tech-lastname">{{ 'form_lastname' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-lastname" id="edit-tech-lastname" ng-model="technicianUpdated.lastName">
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-lastname">{{ 'form_name' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-firstname" id="edit-tech-firstname"  ng-model="technicianUpdated.firstName" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-email">{{ 'form_email' | trans({}, "messages", lang)}}:</label>
                            <input type="email" class="form-control" name="edit-tech-email" id="edit-tech-email" ng-model="technicianUpdated.email" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-phonePrimary">{{ 'form_phone_primary' | trans({}, "messages", lang)}}:</label>
                            <input type="tel" class="form-control" name="edit-tech-phonePrimary" id="edit-tech-phonePrimary" ng-model="technicianUpdated.phonePrimary" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-phonealternate">{{ 'form_phone_alternate' | trans({}, "messages", lang)}}:</label>
                            <input type="tel" class="form-control" name="edit-tech-phonealternate" id="edit-tech-phonealternate" ng-model="technicianUpdated.phoneAlternate" >
                        </div>

                        <div class="form-group">
                            <label for="edit-tech-lastname">{{ 'form_profession' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-profession" id="edit-tech-profession" ng-model="technicianUpdated.profession" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-country">{{ 'form_Country' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-country" id="edit-tech-country" ng-model="technicianUpdated.country" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-state">{{ 'form_state' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-state" id="edit-tech-state" ng-model="technicianUpdated.state" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-city">{{ 'form_city' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-city" id="edit-tech-city" ng-model="technicianUpdated.city" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-address">{{ 'form_address' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-address" id="edit-tech-address" value="4534 av Maisonneuve" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-zipCode">{{ 'form_zipcode' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-zipCode" id="edit-tech-zipCode" value="j3d 2g3" >
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="updateTechnician()">
                            <span class="glyphicon glyphicon-floppy-disk" title="Save"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>



    <div class="pad">
    </div>
{% endblock %}