{% extends 'base.html.twig' %}

{% block title %} Send Email{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller= "AdminController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    {% include 'website/sidemenu-admin.html.twig' %}
                </div>
                <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">


                    <div>
                        <div class="modal-header bg-yellow">

                            <h4 class="modal-title">{{ 'admin_other_sendEmail' | trans({}, "messages", lang)}}</h4>
                        </div>
                        <div class="modal-body">
                            <form class="" id="frm_send_proforma" method="post" action="{{ path('rte_admin_send_email_client') }}" enctype="multipart/form-data">

                            <h5 class="error-message text-bold text-center" ng-bind="update.error"> </h5>
                            <h5 class="message-info text-bold text-center" ng-bind="update.info"> </h5>



                                <div class="row">
                                    <div class="col-xs-3 text-bold">{{ 'dash_customer' | trans({}, "messages", lang)}} *:</div>
                                    <div class="col-xs-8" >
                                        <select name="customerID" id="customerID" class="form-control" ng-model= "request.customerId" >

                                            {% for customer in customers|sort %}
                                                <option value="{{ customer.customerid }}">{{customer.lastname ~" " ~ customer.firstname }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>


                                </div><br>

                                <div class="row">
                                    <div class="col-xs-3 text-bold">{{ 'dash_reference_number' | trans({}, "messages", lang)}} *:</div>
                                    <div class="col-xs-8" >
                                        <select name="refNumber" id="refNumber" class="form-control" ng-model= "request.customerId" ng-change="getemail()">

                                            {% for request in requests|sort %}
                                                <option value="{{ request.requestid }}">{{request.referencenumber }}</option>
                                            {% endfor %}


                                        </select>
                                    </div>


                                </div><br>


                                <div class="row">
                                    <div class="col-xs-3 text-bold">{{ 'form_email' | trans({}, "messages", lang)}} *:</div>
                                    <div class="col-xs-8 text-bold"><input type="email" class="form-control"  name="email" id="email" ng-model="request.email" ></div>
                            </div><br>

                                <div class="row">
                                    <div class="col-xs-3 text-bold">{{ 'admin_sendemail_sujet' | trans({}, "messages", lang)}}*:</div>
                                    <div class="col-xs-8 text-bold"><input type="text" class="form-control" name="subject" id="subject" ng-model="request.subject"></div>
                            </div><br>
                                <div class="row">
                                    <div class="col-xs-3 text-bold">{{ 'form_message' | trans({}, "messages", lang) }}*:</div>
                                        <div class="col-xs-8 text-bold"> <textarea  class="form-control" name="content" id="content" ng-model="request.content" cols="40" rows="10" aria-invalid="false"  style="height: 110px;"></textarea> </div>

                                </div><br>
                                    <div class="row">
                                        <div class="col-xs-3 text-bold">{{ 'admin_sendemail_selectFile' | trans({}, "messages", lang) }}:</div>
                                            <div class="col-xs-8 text-bold"><input class="form-control" id="file" name="file" type="file" data-show-caption="true"></div>
                                    </div><br>



                        <div class="right-align small-margin-right ">
                            <button type="button" class="btn bg-yellow color-black" ng-click="sendProforma()">
                                <span class="glyphicon glyphicon-send" title="Send"></span> {{ 'dash_send_proforma' | trans({}, "messages", lang)}}
                            </button>
                        </div>

                            </form>

                        </div>
                    </div>







                </div>



            </div>
        </div>
    </div>




    <div class="pad">
    </div>
{% endblock %}