{% extends 'base.html.twig' %}

{% block title %} Add Local Agences{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller= "AdminController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu-admin.html.twig' %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">


                    <div class="modal-header bg-yellow">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'admin_add_local_agent' | trans({}, "messages", lang)}}</h4>
                    </div>
                    <div class="modal-body">

                <form id="frm_newAgence" method="post" action="{{ path('createAgence') }}">

                        <div class="form-group">
                            <label for="countryAgence">{{ 'form_Country' | trans({}, "messages", lang)}}</label>
                            <select id="countryAgence" name="countryAgence" class="form-control" ng-model="newAgence.country" >

                                <option value="293">Canada</option>
                                <option value="305">Costa Rica</option>
                                <option value="306">Cuba</option>
                                <option value="412">Mexico</option>
                                <option value="488">United States</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="cityAgence">{{ 'form_city' | trans({}, "messages", lang)}}</label>
                                <input type="text" class="form-control" id="cityAgence" name="cityAgence" ng-model="newAgence.city" value="" >
                            </div>
                            <div class="form-group">
                                <label for="phoneAgence">{{ 'form_phone_primary' | trans({}, "messages", lang)}}</label>
                                <input type="text" class="form-control" id="phoneAgence" name="phoneAgence" ng-model="newAgence.phone" value="" >
                            </div>
                            <div class="form-group">
                                <label for="adresseAgence">{{ 'form_address' | trans({}, "messages", lang)}}</label>
                                <input type="text" class="form-control" id="adresseAgence" name="adresseAgence" ng-model="newAgence.address" value="">
                            </div>


                        </div>

                            <button type="button" class="btn bg-yellow color-black" ng-click="addNewAgence()">
                                <span class="glyphicon glyphicon-floppy-disk" title="Save"></span> {{ 'dash_add' | trans({}, "messages", lang) }}
                            </button>
                </form>
                    </div>


            </div>



        </div>
    </div>




    </div>
    <div class="pad">
    </div>
{% endblock %}