{% extends 'base.html.twig' %}

{% block title %} Admin houses{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller= "TechnicianController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    {% include 'website/sidemenu-admin.html.twig' %}
                </div>
                <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">


                    <div class="table-responsive">
                        <table class="table table-hover">

                            <thead class="bg-yellow font-header">
                            <tr>
                                <th colspan="5">{{ 'admin_list_technicians' | trans({}, "messages", lang)}}</th>

                            </tr>
                            </thead>
                            <thead class="bg-light-gray">
                            <tr>


                                <th>{{ 'dash_technician' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'menu_services' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'form_phone_primary' | trans({}, "messages", lang)}}</th>

                                <th></th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                          {% for tech in technicians %}
                                <tr>
                                    <td class="">{{ tech.lastname}} {{ tech.firstname}}</td>
                                    <td class="">{{ tech.profession }}</td>
                                    <td class="">{{ tech.phoneprimary}}</td>


                                    <td>
                                        <button data-toggle="modal" data-target="#edittechnicianModal" ng-click="getTechnicianInformation({{ tech.technicianid}})" class="btn-primary btn-xs"><span class="glyphicon glyphicon-edit" title="edit"></span></button>
                                      <!--  <button data-toggle="modal" data-target="#edittechnicianModal" class="btn-warning btn-xs"><span class="glyphicon glyphicon-list-alt" title="details"></span></button>-->
                                    </td>
                                    <td>
                                        <button data-toggle="modal" data-target="#availabilityTechnicianModal" class="btn-danger btn-xs"><span class="glyphicon glyphicon-calendar" title="edit"></span></button>
                                        <!--  <button data-toggle="modal" data-target="#edittechnicianModal" class="btn-warning btn-xs"><span class="glyphicon glyphicon-list-alt" title="details"></span></button>-->
                                    </td>
                                </tr>

                            {% endfor %}


                            </tbody>
                        </table>
                    </div>





                    </div>



            </div>
        </div>

        <div id="edittechnicianModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header bg-yellow">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'admin_edit_technician' | trans({}, "messages", lang)}}</h4>

                    </div>
                    <div class="modal-body">
                        <h5 class="error-message text-bold text-center" ng-bind="auth.message"> </h5>
                        <h5 class="message-info text-bold text-center" ng-bind="update.info"> </h5>

                        <div class="form-group">
                            <label for="edit-tech-lastname">{{ 'form_lastname' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-lastname" id="edit-tech-lastname" ng-model="technicianUpdated.lastName">
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-lastname">{{ 'form_name' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-firstname" id="edit-tech-firstname"  ng-model="technicianUpdated.firstName" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-email">{{ 'form_email' | trans({}, "messages", lang)}}:</label>
                            <input type="email" class="form-control" name="edit-tech-email" id="edit-tech-email" ng-model="technicianUpdated.email" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-phonePrimary">{{ 'form_phone_primary' | trans({}, "messages", lang)}}:</label>
                            <input type="tel" class="form-control" name="edit-tech-phonePrimary" id="edit-tech-phonePrimary" ng-model="technicianUpdated.phonePrimary" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-phonealternate">{{ 'form_phone_alternate' | trans({}, "messages", lang)}}:</label>
                            <input type="tel" class="form-control" name="edit-tech-phonealternate" id="edit-tech-phonealternate" ng-model="technicianUpdated.phoneAlternate" >
                        </div>

                        <div class="form-group">
                            <label for="edit-tech-lastname">{{ 'form_profession' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-profession" id="edit-tech-profession" ng-model="technicianUpdated.profession" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-country">{{ 'form_Country' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-country" id="edit-tech-country" ng-model="technicianUpdated.country" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-state">{{ 'form_state' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-state" id="edit-tech-state" ng-model="technicianUpdated.state" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-city">{{ 'form_city' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-city" id="edit-tech-city" ng-model="technicianUpdated.city" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-address">{{ 'form_address' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-address" id="edit-tech-address" value="4534 av Maisonneuve" >
                        </div>
                        <div class="form-group">
                            <label for="edit-tech-zipCode">{{ 'form_zipcode' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" name="edit-tech-zipCode" id="edit-tech-zipCode" value="j3d 2g3" >
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="updateTechnician()">
                            <span class="glyphicon glyphicon-floppy-disk" title="Save"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>


        <div id="availabilityTechnicianModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header bg-yellow">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'admin_technician_availability' | trans({}, "messages", lang)}}</h4>

                    </div>
                    <div class="modal-body">


                        <div class="col-xs-12 no-padding">
                            <div class="table-responsive">
                                <table class="table table-hover word-wrap-table" >

                                    <thead class="bg-light-gray">
                                    <tr>
                                        <th colspan="3">{{ 'admin_day' | trans({}, "messages", lang)}}</th>
                                        <th colspan="3">{{ 'admin_starttime' | trans({}, "messages", lang)}}</th>
                                        <th colspan="3">{{ 'admin_endtime' | trans({}, "messages", lang)}}</th>
                                        <th colspan="1"></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                        <td colspan="3">
                                            <select name="day" class="form-control" >

                                                <option value="1">{{ 'admin_monday' | trans({}, "messages", lang)}}</option>
                                                <option value="2">{{ 'admin_tuesday' | trans({}, "messages", lang)}}</option>
                                                <option value="3">{{ 'admin_wednesday' | trans({}, "messages", lang)}}</option>
                                                <option value="4">{{ 'admin_thursday' | trans({}, "messages", lang)}}</option>
                                                <option value="5">{{ 'admin_friday' | trans({}, "messages", lang)}}</option>
                                                <option value="6">{{ 'admin_saturday' | trans({}, "messages", lang)}}</option>
                                                <option value="7">{{ 'admin_sunday' | trans({}, "messages", lang)}}</option>
                                            </select>
                                        </td>
                                        <td colspan="3">
                                            <select name="start" class="form-control" form="carform">

                                                <option value="1">01:00</option>
                                                <option value="2">02:00</option>
                                                <option value="3">03:00</option>
                                                <option value="4">04:00</option>
                                                <option value="5">05:00</option>
                                                <option value="6">06:00</option>
                                                <option value="7">07:00</option>
                                                <option value="8">08:00</option>
                                                <option value="9">09:00</option>
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                                <option value="20">20:00</option>
                                                <option value="21">21:00</option>
                                                <option value="22">22:00</option>
                                                <option value="23">23:00</option>
                                                <option value="24">00:00</option>



                                            </select>
                                        </td>
                                        <td colspan="3">
                                            <select name="start" class="form-control" form="carform">

                                                <option value="1">01:00</option>
                                                <option value="2">02:00</option>
                                                <option value="3">03:00</option>
                                                <option value="4">04:00</option>
                                                <option value="5">05:00</option>
                                                <option value="6">06:00</option>
                                                <option value="7">07:00</option>
                                                <option value="8">08:00</option>
                                                <option value="9">09:00</option>
                                                <option value="10">10:00</option>
                                                <option value="11">11:00</option>
                                                <option value="12">12:00</option>
                                                <option value="13">13:00</option>
                                                <option value="14">14:00</option>
                                                <option value="15">15:00</option>
                                                <option value="16">16:00</option>
                                                <option value="17">17:00</option>
                                                <option value="18">18:00</option>
                                                <option value="19">19:00</option>
                                                <option value="20">20:00</option>
                                                <option value="21">21:00</option>
                                                <option value="22">22:00</option>
                                                <option value="23">23:00</option>
                                                <option value="24">00:00</option>
                                            </select>
                                        </td>
                                        <td colspan="1">
                                            <button class="btn-primary btn-sm"><span class="glyphicon glyphicon-plus" title="add"></span></button>

                                        </td>
                                    </tr>

                                    <tr>

                                        <td colspan="3">monday</td>
                                        <td colspan="3">12:00</td>
                                        <td colspan="3">15:00</td>
                                        <td colspan="1">
                                        </td>
                                    </tr>

                                    <tr>

                                        <td colspan="3">friday</td>
                                        <td colspan="3">16:00</td>
                                        <td colspan="3">20:00</td>
                                        <td colspan="1">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="updateTechnician()">
                            <span class="glyphicon glyphicon-floppy-disk" title="Save"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>




    </div>



    <div class="pad">
    </div>
{% endblock %}