{% extends 'base.html.twig' %}

{% block title %} Prices{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller= "SettingsController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu-admin.html.twig' %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">


                <div class="table-responsive">
                    <table class="table table-hover">

                        <thead class="bg-yellow font-header">
                        <tr>
                            <th colspan="4">{{ 'admin_prices' | trans({}, "messages", lang)}}</th>
                            <th class="text-right">

                            </th>
                        </tr>
                        </thead>
                        <thead class="bg-light-gray">
                        <tr>

                            <th>{{ 'form_Country' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'admin_price' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'admin_tax_percentage' | trans({}, "messages", lang)}}</th>
                            <th>Plan/{{ 'menu_services' | trans({}, "messages", lang)}}</th>

                            <th></th>
                        </tr>

                        </thead>

                        <tbody>
                        {%  for price in prices %}
                        <tr>
                            <td>{{ price.country.country }}</td>
                            <td>{{ price.Price }}</td>
                            <td>{{ price.TaxPercentage }}</td>
                            <td>{{ price.plan.planname }}</td>


                            <td>
                                <button data-toggle="modal" data-target="#editPriceModal"  class="btn-primary btn-xs" ng-click="getPriceInformation({{ price.priceid }})"><span class="glyphicon glyphicon-list-alt" title="go"></span></button>


                                <button data-toggle="modal" ng-hide="true" data-target="#addserviceModal" class="btn-danger btn-xs"><span class="glyphicon glyphicon-plus" title="go"></span></button>

                                <button data-toggle="modal" data-target="#paymentsModal" class="btn-danger btn-xs"><span class="glyphicon glyphicon-remove-sign" title="go"></span></button>

                                <a href="#" data-target="#" ng-hide="true">
                                    <span class="glyphicon glyphicon-remove" title="Remove" ></span>
                                </a>

                            </td>
                        </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>






            </div>



        </div>
    </div>


    <div id="editPriceModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header bg-yellow">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Price</h4>
                </div>
                <div class="modal-body">
                    <p class="error-message text-center text-bold">{[ error.message ]}</p>
                    <form method="POST" id="frm_update_price" action="{{ path('rte_admin_price_update') }}">

                        <div class="form-group">
                            <label for="priceCountry">{{ 'form_Country' | trans({}, "messages", lang)}}</label>
                            <select name="priceCountry" id="priceCountry" class="form-control" name="priceCountry" ng-model="price.countryId" >

                                {% for country in countries %}
                                    <option value="{{ country.countryid }}">{{ country.country }}</option>
                                {% endfor %}

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="pricePrice">{{ 'admin_price' | trans({}, "messages", lang)}}</label>
                            <input type="text" class="form-control" id="pricePrice" name="pricePrice" ng-model="price.price" >
                        </div>
                        <div class="form-group">
                            <label for="priceTax">{{ 'admin_tax_percentage' | trans({}, "messages", lang)}}</label>
                            <input type="text" class="form-control" id="priceTax" name="priceTax" ng-model="price.taxpercentage" >
                        </div>
                        <div class="form-group">
                            <label for="pricePlan">Plan/{{ 'menu_services' | trans({}, "messages", lang)}}</label>

                            <select name="pricePlan" id="pricePlan" class="form-control" ng-model="price.planId" >

                                {% for plan in plans %}
                                    <option value="{{ plan.planid }}">{{ plan.planname }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <input type="hidden" id="priceid" name="priceid" ng-value="price.priceid" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-yellow color-black" ng-click="updatePrice()">
                        <span class="glyphicon glyphicon-floppy-disk" title="Save"></span> {{ 'dash_add' | trans({}, "messages", lang) }}
                    </button>
                </div>
            </div>

        </div>
    </div>

    </div>

    <div class="pad">
    </div>
{% endblock %}