{% extends 'base.html.twig' %}

{% block title %} General Pro - Sign in {% endblock %}

{% block body %}
<div class="pad">

</div>

<div class="container" ng-controller="AdminController">
  <div class="row">
    <div class="col-xs-12">
      <h3>Admin {{ 'form_login' | trans({}, "messages", lang) }} </h3>

      <form class="form-login" method="POST" id="frm_signinadmin" action="{{ path('app_admin_authenticateadmin') }}">
        <h5 class="error-message text-bold text-center" ng-bind="auth.message" class=""> </h5>
        <div class="form-group">
          <label for="email">{{ 'form_email' | trans({}, "messages", lang) }}</label>
          <input type="email" id="email" name="email" ng-model="admin.email" required>
        </div>
        <div class="form-group">
          <label for="pwd">{{ 'form_password' | trans({}, "messages", lang) }}</label>
          <input type="password" id="pwd" name="pwd" ng-model="admin.pwd" required>
        </div>
        <button type="button" class="btn" ng-click="authenticateadmin()">{{ 'form_login' | trans({}, "messages", lang) }}</button>
        

        <input type="hidden" ng-model="admin.authadmUrl" value="{{ path('app_admin_authenticateadmin')  }}">
      </form>


    </div>
  </div>
</div>



{% endblock %}