{% extends 'base.html.twig' %}

{% block title %}Add prices{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller= "SettingsController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu-admin.html.twig' %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">

                    <div class="modal-header bg-yellow">

                        <h4 class="modal-title">{{ 'admin_add_prices' | trans({}, "messages", lang)}}</h4>
                    </div>
                <form id="frm_newPrice" method="post" action="{{ path('rte_admin_price_save') }}">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="subagCountry">{{ 'form_Country' | trans({}, "messages", lang)}}</label>
                            <select name="PriceCountry" id="PriceCountry"  ng-model="newPrice.country" class="form-control" >

                                <option value="293">Canada</option>
                                <option value="305">Costa Rica</option>
                                <option value="306">Cuba</option>
                                <option value="412">Mexico</option>
                                <option value="488">United States</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="price">{{ 'admin_price' | trans({}, "messages", lang)}}</label>
                            <input type="text" class="form-control" id="price" name="price" ng-model="newPrice.price" value="" >
                    </div>
                        <div class="form-group">
                            <label for="tax">{{ 'admin_tax_percentage' | trans({}, "messages", lang)}}</label>
                            <input type="text" class="form-control" id="tax" name="tax" ng-model="newPrice.tax" value="" >
                        </div>
                        <div class="form-group">
                            <label for="plan">Plan/{{ 'menu_services' | trans({}, "messages", lang)}}</label>

                            <select name="PricePlan" id="PricePlan"  ng-model="newPrice.plan" class="form-control" >

                                <option value="1">Basic Plan</option>
                                <option value="2">GP Plus</option>

                            </select>


                        </div>


                    </div>
                    <div class="right-align small-margin-right ">
                        <button type="button" class="btn bg-yellow color-black" ng-click="addNewPrice()">
                            <span class="glyphicon glyphicon-floppy-disk" title="Save"></span> {{ 'dash_add' | trans({}, "messages", lang) }}
                        </button>
                    </div>
                </form>






            </div>



        </div>
    </div>

    </div>



    <div class="pad">
    </div>
{% endblock %}