{% extends 'base.html.twig' %}

{% block title %} Admin Technician{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller= "TechnicianController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu-admin.html.twig' %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">


                    <div class="modal-header bg-yellow">
                        <h4 class="modal-title">{{ 'admin_add_technician' | trans({}, "messages", lang)}}</h4>
                    </div>
                    <div class="modal-body">

                        <form  id="frm_newTechnician" method="POST" action="{{ path('rte_admin_technician_save') }}">
                            <h5 class="error-message text-bold text-center" ng-bind="auth.message" > </h5>
                            <div class="form-group">
                                <label for="newTechLastname">{{ 'form_lastname' | trans({}, "messages", lang)}}:</label>
                                <input type="text" class="form-control" id="newTechLastname" name="newTechLastname" ng-model="technician.lastName" >
                            </div>
                            <div class="form-group">
                                <label for="newTechFirstname">{{ 'form_name' | trans({}, "messages", lang)}}:</label>
                                <input type="text" class="form-control" id="newTechFirstname" name="newTechFirstname" ng-model="technician.firstName"  >
                            </div>
                            <div class="form-group">
                                <label for="newTechEmail">{{ 'form_email' | trans({}, "messages", lang)}}:</label>
                                <input type="email" class="form-control" id="newTechEmail" name="newTechEmail" ng-model="technician.email" >
                            </div>
                            <div class="form-group">
                                <label for="newTechPhonePrimary">{{ 'form_phone_primary' | trans({}, "messages", lang)}}:</label>
                                <input type="tel" class="form-control" id="newTechPhonePrimary" name="newTechPhonePrimary" ng-model="technician.phonePrimary" >
                            </div>
                            <div class="form-group">
                                <label for="newTechPhonealternate">{{ 'form_phone_alternate' | trans({}, "messages", lang)}}:</label>
                                <input type="tel" class="form-control" id="newTechPhonealternate" name="newTechPhonealternate" ng-model="technician.phonealternate" >
                            </div>
                            <div class="form-group">
                                <label for="newTechProfesion">{{ 'form_profession' | trans({}, "messages", lang)}}:</label>

                                <select name="newTechProfesion" id="newTechProfesion" class="form-control" ng-model= "technician.profession" >

                                    {% for service in services %}
                                        <option value="{{ service.serviceid }}">{{ service.servicename }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="newTechIDType">{{ 'form_document_type' | trans({}, "messages", lang)}}</label>

                                <select  id="newTechIDType" name="newTechIDType" class="form-control"  ng-model="technician.idType"  >

                                    <option value="Passport">Passport</option>
                                    <option value="Social insurance">Social insurance</option>
                                    <option value="Driver's licence">Driver's licence</option>
                                    <option value="Health card">Health card</option>
                                    <option value="Identity document">Identity document</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="newTechCode">{{ 'admin_console_codeid' | trans({}, "messages", lang)}}:</label>
                                <input type="text" class="form-control" id="newTechCode" name="newTechCode" ng-model="technician.code" value="" >
                            </div>
                            <div class="form-group">
                                <label for="newTechCountry">{{ 'menu_country' | trans({}, "messages", lang)}}:</label>
                                <select name="newTechCountry" id="newTechCountry" class="form-control"  ng-model="technician.country"  >

                                    {% for country in countries %}
                                        <option value="{{ country.countryid }}">{{ country.country }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="newTechState">{{ 'form_state' | trans({}, "messages", lang)}}:</label>
                                <input type="text" class="form-control" id="newTechState" name="newTechState" ng-model="technician.state" value="" >
                            </div>
                            <div class="form-group">
                                <label for="newTechCity">{{ 'form_city' | trans({}, "messages", lang)}}:</label>
                                <input type="text" class="form-control" id="addTechCity" name="addTechCity" ng-model="technician.city" value="" >
                            </div>
                            <div class="form-group">
                                <label for="newTechAddress">{{ 'form_address' | trans({}, "messages", lang)}}:</label>
                                <input type="text" class="form-control" id="newTechAddress" name="newTechAddress" ng-model="technician.address" value="" >
                            </div>
                            <div class="form-group">
                                <label for="newTechZipCode">{{ 'form_zipcode' | trans({}, "messages", lang)}}:</label>
                                <input type="text" class="form-control" id="newTechZipCode" name="newTechZipCode" ng-model="technician.zipCode" value="" >
                            </div>

                            <div class="right-align ">

                                <button type="button" class="btn bg-yellow color-black" ng-click="addtechnician()">
                                    <span class="glyphicon glyphicon-floppy-disk" title="Save"></span> Add
                                </button>
                            </div>
                        </form>
                    </div>




            </div>

        </div>

        </div>
    </div>





    <div class="pad">
    </div>
{% endblock %}