{% extends 'base.html.twig' %}

{% block title %}
    {% set lang = app.session.get('lang') %}
    {{ 'dash_services_request' | trans({}, "messages", lang)}}
{% endblock %}
{% block body %}
    <div class="pad">
    </div>
    <div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu.html.twig' with {'customerId' : customer.customerid} %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">
                <div class="modal-header bg-yellow">
                    <h4 class="modal-title">{{ 'dash_services_request' | trans({}, "messages", lang)}}</h4>
                </div>

                    <div class="row" >
                        <div class="col-xs-12 ">
                            <div class="panel-group" id="myAccordion">

                                {% for request in requests %}

                                    <div class="panel-heading bg-light-gray ">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#myAccordion" href="#collapse{{ request.requestId }}" >{{ request.requestDate ~ ' | ' ~ request.service ~ ' | ' ~ request.status | trans({}, "messages", lang) }}</a>
                                        </h4>
                                    </div>

                                <div id="collapse{{ request.requestId }}" class="panel-collapse collapse in  ">
                                    <div class="panel-body"><label class="text-bold">{{ 'dash_req_date' | trans({}, "messages", lang)}} :</label> <text >{{ request.requestDate }}</text> <br/>
                                        <!--<label class="text-bold">{{ 'dash_status' | trans({}, "messages", lang)}} :</label>{{ 'status_closed' | trans({}, "messages", lang)}}<br/>-->
                                        <label class="text-bold">{{ 'dash_status' | trans({}, "messages", lang)}} :</label><text >{{ request.status | trans({}, "messages", lang)}}</text><br/>
                                        <label class="text-bold">{{ 'dash_reference_number' | trans({}, "messages", lang)}}</label> : <text >{{ request.referenceNumber }}</text>
                                    </div>

                                    <div class="panel-body word-wrap" >{{ request.details }}
                                    </div>

                                    <div class="col-xs-12 no-padding">
                                        <div class="table-responsive">
                                            <table class="table table-hover word-wrap-table " >

                                                <thead class="bg-light-gray">
                                                <tr>
                                                    <th>{{ 'dash_intervention' | trans({}, "messages", lang)}}</th>
                                                    <th>{{ 'dash_technician' | trans({}, "messages", lang)}}</th>
                                                    <th>{{ 'dash_comments' | trans({}, "messages", lang)}}</th>


                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for intervention in request.interventions %}
                                                    <tr>

                                                        <td>{{ intervention.interventionDate }}</td>
                                                        <td>{{ intervention.technician }}</td>
                                                        <td >{{ intervention.comments }}</td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}

                            </div>


                        </div>


                    </div>








            </div>



        </div>
    </div>






 </div>



 <div class="pad">
 </div>
{% endblock %}