{% extends 'base.html.twig' %}

{% block title %}
    {% set lang = app.session.get('lang') %}
    {{ 'dash_make_payment' | trans({}, "messages", lang)}}
{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller="MakePaymentController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    {% include 'website/sidemenu.html.twig' with {'customerId' : customer.customerid} %}
                </div>
                <div class="col-xs-12 col-md-8 col-md-offset-1 no-padding">

                    <div class="table-responsive">
                        <table class="table table-hover ">

                            <thead class="bg-yellow font-header">
                            <tr>
                                <th colspan="5">{{ 'dash_make_payment' | trans({}, "messages", lang)}}</th>
                            </tr>
                            </thead>
                            <thead class="bg-light-gray">
                            <tr>
                                <th>{{ 'dash_req_date' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'admin_service' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'dash_total_amount' | trans({}, "messages", lang)}}</th>

                                <th>{{ 'dash_reference_number' | trans({}, "messages", lang)}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for req in requests %}
                                <tr>
                                    <td>{{ req.requestdate |date('Y-m-d')}}</td>
                                    <td>{{ req.requestservices[0].service.servicename }} </td>
                                    <td>{{ (req.amount + req.tax) |number_format(2) ~ " " ~ currency}} </td>
                                    <td>{{ req.referencenumber }} </td>
                                    <td>
                                        <a href="{{ path('rte_proforma',{'referenceNumber': req.referencenumber}) }}" target="_blank"><span class="glyphicon glyphicon-file" title="View proforma"></span></a>
                                        <button data-toggle="modal" data-target="#paymentmodal" class="btn-success btn-xs" ng-click="getRequest({{req.requestid}},'{{currency}}')"><span class="glyphicon glyphicon-usd" title="Pay"></span></button>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>


        </div>
        <div id="paymentmodal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header bg-yellow">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="text-bold text-center">{{ 'dash_payservice' | trans({}, "messages", lang)}}</h4>
                    </div>
                    <div class="modal-body">

                        <div class ="border-yellow padding-payment col-xs-12 col-md-8 col-md-offset-2 ">

                            <h5 class="error-message text-bold text-center">{[payment.error]} </h5>
                            </br>
                        <div class="form-group">
                            <label for="status">{{ 'admin_service' | trans({}, "messages", lang)}} :</label>
                            <text>{[payment.service]}</text>
                        </div>

                            <div class="form-group">
                                <label for="status">{{ 'dash_total_amount' | trans({}, "messages", lang)}} :</label>
                                <text>{[payment.totalAmount + " " + payment.currency]}</text>
                            </div>

                            <!--<div class="form-group">
                                <div>
                                    <input type="radio" ng-model="payment.existingCC" value="1"> {{ 'dash_existing_credit_card' | trans({}, "messages", lang)}} : {[payment.cc]}
                                </div> <!--- existing credit card-!->
                            </div>
                            <div class="form-group">
                                <div><!-- new credit card-!->
                                    <input type="radio" ng-model="payment.existingCC" value="0"> {{ 'dash_new_credit_card' | trans({}, "messages", lang)}} :
                                </div> 

                            </div>-->
							
							<div id="container-new-cc">
																
								<div class="form-group">
									<label for="fullname">{{ 'dash_name_card' | trans({}, "messages", lang)}}</label>
									<input type="text" class="form-control" id="nameOnCard" ng-model ="payment.nameOnCard" ng-disabled="payment.existingCC=='1'">
								</div>


								<div class="form-group">
									<div class="col-xs-6 no-padding">
										<label for="cardnumber">{{ 'dash_card_number' | trans({}, "messages", lang)}}&nbsp; </label><img src="{{ asset('images/card_mastercard.png') }}"><img src="{{ asset('images/card_visa.png') }}">
									</div>

									<div class="row margin-left">

										<div class="col-xs-7 no-padding">
											<input type="number" class="form-control" id="cardNumber" maxlength="16"  ng-model="payment.cardNumber" ng-disabled="payment.existingCC=='1'">
										</div>
										<div class="col-xs-1 no-padding"></div>

										<div class="col-xs-3 no-padding">
											<input type="text" class="form-control" id="cvv" maxlength="3"  placeholder="CVV" ng-model="payment.cvv" ng-disabled="payment.existingCC=='1'">
										</div>
									</div>

								</div>
								
								<div class="form-group">
                                    <label for="dateexpiration">{{ 'dash_expiration_date' | trans({}, "messages", lang)}}</label>

									<div class="row margin-left">

										<div class="col-xs-4 no-padding">
											<select name="dateexpirationmonth" id="expMonth" class="form-control" ng-model="payment.expMonth" ng-disabled="payment.existingCC=='1'">
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</div>
										<div class="col-xs-2 no-padding"></div>
										<div class="col-xs-5 no-padding">
											<select name="dateexpirationyear" id="expYear" class="form-control" ng-model="payment.expYear" ng-disabled="payment.existingCC=='1'">
												{% set dateSplit = today |split("-") %}
												{% set year = dateSplit[0] %}
												{% for yr in year..(year+10) %}
												<option value="{{ yr |slice(2,2)}}">{{ yr }}</option>
												{% endfor %}
											</select>
										</div>
									</div>

								</div>
								
							</div>
                            

							<div class="modal-footer">
								<button type="button" class="btn bg-yellow color-black" ng-click="payRequestedService()">
									<span class="glyphicon glyphicon-credit-card" title='{{ "dash_pay" | trans({}, "messages", lang)}}'></span> {{ 'dash_pay' | trans({}, "messages", lang)}}
								</button>
							</div>
                </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="pad">
    </div>
	
	<form id="frm_payment"></form>
{% endblock %}