{% extends 'base.html.twig' %}

{% block title %}
    {% set lang = app.session.get('lang') %}
    {{ 'dash_view_payments' | trans({}, "messages", lang)}}
{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller="DashboardController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    {% include 'website/sidemenu.html.twig' with {'customerId' : customer.customerid} %}
                </div>
                <div class="col-xs-12 col-md-8 col-md-offset-1 no-padding">


                    <div class="table-responsive">
                        <table class="table table-hover ">

                            <thead class="bg-yellow font-header">
                            <tr>
                                <th colspan="6">{{ 'dash_view_payments' | trans({}, "messages", lang)}}</th>



                            </tr>
                            </thead>
                            <thead class="bg-light-gray">
                            <tr>
                                <th>{{ 'dash_payment_date' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'template_invoice' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'admin_service' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'dash_total_amount' | trans({}, "messages", lang)}}</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                                {% for payment in payments %}
                                    <tr>
                                        <td>{{ payment.paymentDate | date("Y-m-d") }}</td>
                                        <td>{{ payment.invoiceNumber }}</td>
                                        <td>{{ payment.service }}</td>
                                        <td>{{ payment.totalAmount }}</td>
                                        <td>
                                            <a href="{{ path('rte_view_invoice',{'invoiceNumber': payment.invoiceNumber}) }}" target="_blank"><span class="glyphicon glyphicon-file" title="View invoice"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>


                </div>
            </div>


        </div>

    </div>
    <div class="pad">
    </div>
{% endblock %}