{% extends 'base.html.twig' %}

{% block title %}
    {% set lang = app.session.get('lang') %}
    {{ 'dash_make_payment' | trans({}, "messages", lang)}}
{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller="DashboardController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    {% include 'website/sidemenu.html.twig' with {'customerId' : customer.customerid} %}
                </div>
                <div class="col-xs-12 col-md-8 col-md-offset-1 no-padding">


                    <div class="table-responsive">
                        <table class="table table-hover ">

                            <thead class="bg-yellow font-header">
                            <tr>
                                <th colspan="5">{{ 'dash_make_payment' | trans({}, "messages", lang)}}</th>



                            </tr>
                            </thead>
                            <thead class="bg-light-gray">
                            <tr>
                                <th>{{ 'dash_req_date' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'admin_service' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'dash_total_amount' | trans({}, "messages", lang)}}</th>

                                <th>{{ 'dash_reference_number' | trans({}, "messages", lang)}}</th>
                                <th>



                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for req in requests %}
                                <tr>
                                    <td>{{ req.requestdate |date('Y-m-d')}}</td>
                                    <td>{{ req.requestservices[0].service.servicename }} </td>
                                    <td>{{ (req.amount + req.tax) |number_format(2) ~ " " ~ currency}} </td>
                                    <td>{{ req.referencenumber }} </td>
                                    <td>
                                        <a href="{{ path('rte_proforma',{'referenceNumber': req.referencenumber}) }}" target="_blank"><span class="glyphicon glyphicon-file" title="View proforma"></span></a>
                                        <button data-toggle="modal" data-target="#paymentmodal" class="btn-success btn-xs"><span class="glyphicon glyphicon-usd" title="Pay"></span></button>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>


        </div>
        <div id="paymentmodal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header bg-yellow">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="text-bold text-center">{{ 'dash_payservice' | trans({}, "messages", lang)}}</h4>
                    </div>
                    <div class="modal-body">

                        <div class ="border-yellow padding-payment col-xs-12 col-md-8 col-md-offset-2 ">

                            <h5 class="error-message text-bold text-center">{[paymentInfo.error]} </h5>


                            </br>
                        <div class="form-group">
                            <label for="status">{{ 'admin_service' | trans({}, "messages", lang)}} :</label>
                            <text>Plumbing</text>
                        </div>

                            <div class="form-group">
                                <label for="status">{{ 'dash_total_amount' | trans({}, "messages", lang)}} :</label>
                                <text>{[paymentInfo.amount]}</text>
                            </div>
                            <div class="form-group">
                                <label for="type">{{ 'dash_type_c' | trans({}, "messages", lang)}}</label>
                                <text>{{ 'dash_credit_card' | trans({}, "messages", lang)}}</text>
                            </div>
                            <!--div class="col-xs-6 no-padding"-->
                            <div class="form-group">
                                <label for="fullname">{{ 'dash_name_card' | trans({}, "messages", lang)}}</label>
                                <input type="text" class="form-control" id="nameOnCard" ng-model ="paymentInfo.nameOnCard">
                            </div>

                            <div class="form-group">
                                <label for="creditCard">{{ 'dash_card_type' | trans({}, "messages", lang)}}</label>
                                <select name="creditCard" id="cardType" class="form-control" ng-model="paymentInfo.cardType" >
                                    <option value=""></option>
                                    <option value="Visa">Visa</option>
                                    <option value="MasterCard">Master Card</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6 no-padding">
                                    <label for="cardnumber">{{ 'dash_card_number' | trans({}, "messages", lang)}}&nbsp; </label><img src="{{ asset('images/card_mastercard.png') }}"><img src="{{ asset('images/card_visa.png') }}">
                                </div>



                                <div class="row margin-left">

                                    <div class="col-xs-7 no-padding">
                                        <input type="number" class="form-control" id="cardNumber" maxlength="16"  ng-model="paymentInfo.cardNumber" >
                                    </div>
                                    <div class="col-xs-1 no-padding"></div>

                                    <div class="col-xs-3 no-padding">

                                        <input type="text" class="form-control" id="cvv" maxlength="3"  placeholder="CVV" ng-model="paymentInfo.cvv">
                                    </div>
                                </div>




                                </div>




                    <div class="modal-footer">
                        <button type="button" class="btn bg-yellow color-black" >
                            <span class="glyphicon glyphicon-credit-card" title="{{ 'dash_pay' | trans({}, "messages", lang)}}"></span> {{ 'dash_pay' | trans({}, "messages", lang)}}
                        </button>
                    </div>
                </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="pad">
    </div>
{% endblock %}