{% extends 'base.html.twig' %}

{% block title %}
    {% set lang = app.session.get('lang') %}
    {{ 'dash_change_plans' | trans({}, "messages", lang)}}
{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div>
    <div class="container" ng-controller="ChangePlanController" ng-cloak>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu.html.twig' with {'customerId' : customer.customerid} %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 no-padding">


                <div class="table-responsive">
                    <table class="table table-hover ">

                        <thead class="bg-yellow font-header">
                        <tr>
                            <th colspan="5">{{ 'dash_change_plans' | trans({}, "messages", lang)}}</th>
                        </tr>
                        </thead>
                        <thead class="bg-light-gray">
                        <tr>
                            <th>{{ 'form_Country' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'form_address' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'form_city' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'dash_local_agent' | trans({}, "messages", lang)}}</th>
                            <th class="">Plan</th>
                        </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="house in houses">
                                <td>{[ house.country ]}</td>
                                <td>{[ house.address ]}</td>
                                <td>{[ house.city ]}</td>
                                <td>{[ house.agentNumber ]}</td>
                                <td>
                                    <select class="form-control" ng-model="house.planId" ng-click="planClicked(house)"  ng-change="planChanged(house)" >
                                        <option ng-repeat="plan in plans" value="{[plan.id]}">{[plan.name]}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>



        <!-- Modal -->
        <div id="changePlanModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Changing plan</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to change your plan?</p>
                        <p>your monthly payment will be  {[newPrice]}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelChange()">Cancel</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveChange()">Change plan</button>
                    </div>
                </div>

            </div>
        </div>





    </div>

    </div>
    <div class="pad">
    </div>






    <input type="hidden" id="customerId" value="{{ customer.customerid }}">
{% endblock %}