{% extends 'base.html.twig' %}

{% block title %} My profile{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller="DashboardController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu.html.twig' with {'customerId' : customer.customerid} %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">


                <div class="modal-header bg-yellow">
                    <h4 class="modal-title">{{ 'dash_profile' | trans({}, "messages", lang)}}</h4>
                </div>
                <div class="padding-sm">
                    <div class="spacer-large"></div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> {{customer.firstname ~ " " ~ customer.lastname }} </div>
                    </div>
                    <div class="spacer-medium"></div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> {{customer.email}} </div>
                    </div>
                    <div class="spacer-medium"></div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> {{customer.address ~ ", " ~ customer.city ~ ", " ~ customer.state ~ ", " ~ customer.zipcode ~ ", " ~ customer.country}} </div>
                    </div>

                    <div class="spacer-medium"></div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> {{customer.phoneprimary ~ ", " ~ customer.phonealternate}} </div>
                    </div>



                    <div class="spacer-large"></div>
                    <div class="spacer-large"></div>

                    <div class="modal-header bg-light-gray">
                        <h4 class="modal-title">{{ 'dash_house' | trans({}, "messages", lang)}}</h4>
                    </div>
                    <div class="table-responsive table-hover">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ 'menu_country' | trans({}, "messages", lang)}}</th>
                                    <th>{{ 'form_address' | trans({}, "messages", lang)}}</th>
                                    <th>Plan</th>
                                    <th>{{ 'dash_local_agent' | trans({}, "messages", lang)}}</th>
                                </tr>
                            </thead>

                            <tbody>

                            {% for house in houses %}
                                <tr>
                                    <td>{{ house.country }}</td>
                                    <td>{{ house.address }}</td>
                                    <td>{{ house.plan }}</td>
                                    <td>{{ house.agentNumber }}</td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>



        </div>
    </div>

    </div>



    <div class="pad">
    </div>
{% endblock %}