{% extends 'base.html.twig' %}

{% block title %} My houses{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller="DashboardController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu.html.twig' with {'customerId' : customer.customerid} %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">


                <div class="table-responsive">
                    <table class="table table-hover ">

                        <thead class="bg-yellow font-header">
                        <tr>
                            <th colspan="5">{{ 'dash_house' | trans({}, "messages", lang)}}</th>

                            <th><a href="#" data-toggle="modal" data-target="#contractModal" >
                                    <span class="glyphicon glyphicon-plus-sign font-header"  title={{ 'dash_add_house' | trans({}, "messages", lang)}}></span>
                                </a></th>

                        </tr>
                        </thead>
                        <thead class="bg-light-gray">
                        <tr>
                            <th>{{ 'form_Country' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'form_address' | trans({}, "messages", lang)}}</th>
                            <th>Plan</th>
                            <th>{{ 'dash_sdate' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'dash_local_agent' | trans({}, "messages", lang)}}</th>
                            <th class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="house in houses">
                            <td ng-bind="house.country"></td>
                            <td ng-bind="house.address"></td>

                            <td ng-bind="house.plan"></td>


                            <td ng-bind="house.subscriptionDate"></td>
                            <td ng-bind="house.agentNumber"></td>
                            <td>

                                <button data-toggle="modal" data-target="#houseModal" ng-click="getSelectedHouseInfo(house.id)" class="btn-danger btn-xs"><span class="glyphicon glyphicon-align-justify" title={{ 'dash_view_details' | trans({}, "messages", lang)}}></span></button>
                                <button data-toggle="modal" data-target="#paymentsModal" ng-click="getPaymentsHistory(house.id)" class="btn-success btn-xs"><span class="glyphicon glyphicon glyphicon-usd" title={{ 'dash_view_payment' | trans({}, "messages", lang)}}></span></button>
                                <button data-toggle="modal" data-target="#cardchangeModal" ng-click="getPaymentsHistory(house.id)" class="btn-primary btn-xs"><span class="glyphicon glyphicon-credit-card" title={{ 'dash_view_payment' | trans({}, "messages", lang)}}></span></button>



                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>






            </div>



        </div>
    </div>


        <div id="contractModal" class="modal fade" role="dialog" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-yellow">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'dash_contract_agreement' | trans({}, "messages", lang)}}</h4>
                    </div>
                    <div class="modal-body">



                        {#                       <p>This agreement is entered into as of {{today}}, between General Pro and <text ng-bind="customer.fullName"></text></p>
                             #}                 <p>1.	Plans Limitations: General Pro’s plans, the GP Basic and the GP Plus take care of the service that we provide to you. In other words, you are paying for our labour. However, these plans do not cover some major additional materials that might be needed to fully realize a task. Moreover, being subscribed to our plans allows you to request our services twice a month. In both of these occasions, our team will go to your domicile and efficiently cater to your needs. If you were to demand our services more than two times per month, you would have to pay a supplementary price, which will be determined by the type of labor done, the amount of working hours, and the labor cost. Our plans comprise labour costs that are equal or less than 400$. Consequently, this amount is the maximum amount of costs covered by our plans. If your project or requirement were to exceed $400, you would have to pay the difference between the assignment’s final cost and $400. Furthermore, some of the services provided by our plans are only covered if they are minor. Such services include plumbing and electricity. If the tasks related to these services are deemed to be major by our experts, an additional payment will have to take place. Keep in mind that we will accommodate your needs and your demands to the best of our abilities, and we will give you the most reasonable price possible.  </p>
                                              <p>2.	Force Majeure: Neither you nor General Pro shall be held accountable for any postponement or failure in performance under these Terms, if the cause of contract breach is beyond either party’s control. Such causes include but are not limited to acts of God, acts of war whether it is declared or undeclared, earthquakes, strikes, fires, floods, unobtainability of necessary utilities, blackouts and national disasters. Therefore, General Pro’s plans are not responsible for insuring services under such circumstances.  </p>
                                              <p>3.	Payments: By acting in accordance with these terms, you agree to provide General Pro accurate and complete information about you and your payment information. You also agree to make your payments in full and on time. If you or any Member does not pay on time, or if General Pro is unable to charge a provided payment method for any reason, General Pro reserves all rights approved under law to pursue and recover payment, as well as all costs and expenses involved, including attorneys’ fees. If you have an amount of money due on any account, you agree that General Pro may charge such unpaid payments to your credit card, or bill you for said unpaid expenditures. You openly approve that all communication about fraudulent and delinquent accounts or payments due will be achieved by electronic mail or by phone; said communication may be made by General Pro or by anyone on its behalf. </p>
                                              <p>4.	Warranty: General Pro guarantees the efficient completion of any assignment that you request. We assure you that we will treat your demand with the most care and professionalism. </p>
                                              <p>5.	Contract Termination: If you were to end your contract and therefore, your subscription to either one of our plans, you shall pay the equivalent of three months of subscription, respective to your plan. You may request a cancellation by emailing xxxxxx.com or by calling us at xxxxxx. We will process your request within a 30 days of receiving it.  </p>
                                              <p>Contacting information: If you still have any questions about our Contract Agreement, make sure to contact us by sending an email to xxxxxxx.com, or by calling us at xxxxxxx. </p>
                                              <p>In Witness whereof the parties have respected this contract and fully executed it as of the day year first written above. The parties hereto agree that facsimile signature shall be as effective as originals.  </p>
                                              <p>Party 1: General Pro</p>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input type="checkbox" class="form-check-input" ng-model="newSubscription.contractAccepted">
                                                      I agree with the terms and conditions of this Contract
                                                  </label>
                                              </div>

                                              <div class="modal-footer">
                                                  <button type="button" ng-disabled="newSubscription.contractAccepted==false" class="btn bg-yellow color-black" data-dismiss="modal" data-toggle="modal" data-target="#addHouseModal">
                                                      {{ 'dash_accept' | trans({}, "messages", lang)}}
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div id="addHouseModal" class="modal fade" role="dialog">
                                  <div class="modal-dialog">

                                      <div class="modal-content">
                                          <div class="modal-header bg-yellow">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">{{ 'dash_add_house' | trans({}, "messages", lang)}}</h4>
                                          </div>
                                          <div class="modal-body">
                                              <div ng-hide="showPaymentForm">
                                                  <h5 class="error-message text-bold text-center">{[newSubscription.error]} </h5>


                                                  <div class="form-group">
                                                      <label for="subContactFirstName">{{ 'dash_contact_firtName' | trans({}, "messages", lang)}}:</label>
                                                      <input type="text" class="form-control" id="subContactFirstName" ng-model="newSubscription.firstName">
                                                  </div>

                                                  <div class="form-group">
                                                      <label for="subContactLastName">{{ 'dash_contact_lastName' | trans({}, "messages", lang)}}:</label>
                                                      <input type="text" class="form-control" id="subContactLastName" ng-model="newSubscription.lastName">
                                                  </div>

                                                  <div class="form-group">
                                                      <label for="subPhonePrimary">{{ 'form_phone_primary' | trans({}, "messages", lang)}}:</label>
                                                      <input type="tel" class="form-control" id="subPhonePrimary" ng-model="newSubscription.phonePrimary" >
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="subPhoneAlternate">{{ 'form_phone_alternate' | trans({}, "messages", lang)}}:</label>
                                                      <input type="tel" class="form-control" id="subPhoneAlternate" ng-model="newSubscription.phoneAlternate" >
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="country">{{ 'form_Country' | trans({}, "messages", lang)}}*</label>
                                                      <select name="subCountry" id="subCountry" class="form-control" ng-model= "newSubscription.country">
                                                          <!-- {|% for country in countries #%}
                                                               <option value="{|{ country.country }}">{|{ country.country }}</option>
                                                           {|% endfor #%}-->
                                                          <option value="CAN">Canada</option>
                                                          <option value="CRI">Costa Rica</option>
                                                          <option value="CUB">Cuba</option>
                                                          <option value="MEX">Mexico</option>
                                                          <option value="USA">United States</option>
                                                      </select>
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="subState">{{ 'form_state' | trans({}, "messages", lang)}}:</label>
                                                      <input type="text" class="form-control" id="subState" ng-model= "newSubscription.state" >
                                                  </div>

                                                  <div class="form-group">
                                                      <label for="subCity">{{ 'form_city' | trans({}, "messages", lang)}} *:</label>
                                                      <input type="text" class="form-control" id="subCity" ng-model= "newSubscription.city" >
                                                  </div>

                                                  <div class="form-group">
                                                      <label for="subAddress">{{ 'form_address' | trans({}, "messages", lang)}} *:</label>
                                                      <input type="text" class="form-control" id="subAddress" ng-model= "newSubscription.address" >
                                                  </div>

                                                  <div class="form-group">
                                                      <label for="subZipCode">{{ 'form_zipcode' | trans({}, "messages", lang)}} *:</label>
                                                      <input type="text" class="form-control" id="subZipCode" ng-model= "newSubscription.zipCode" >
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="subPlanId">Plan:</label>
                                                      <select name="plan" class="form-control" id="subPlanId" ng-model="newSubscription.planId" ng-change="getPlanPrice()" ng-disabled="newSubscription.country=='' || newSubscription.country==undefined">
   {#                               {% for plan in plans %}
                                                              <option value="{{ plan.planid }}">{{ plan.planname }}</option>
                                                          {% endfor %}
      #}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="status">Monthly amount:</label>
                                <text>{[newSubscription.amount]} {[newSubscription.currency]}</text>
                            </div>




                        </div>




                        <!--<div data-toggle="collapse" style = "font-size:6px; " data-target="#pay" class="text-right" ><span class="glyphicon glyphicon-chevron-right"></span></div>-->


                        <!--div class="modal-body"-->
                        <div class ="border-yellow padding-payment" id="container-payment" ng-show="showPaymentForm">
                            <h4 class="text-bold text-center">{{ 'dash_payinfo' | trans({}, "messages", lang)}}</h4>
                            <h5 class="error-message text-bold text-center">{[paymentInfo.error]} </h5>


                            </br>

                            <div class="form-group">
                                <label for="subPlanId">Plan:</label>
                                <text>{[paymentInfo.planName]}</text>
                            </div>
                            <div class="form-group">
                                <label for="status">{{ 'dash_month_amount' | trans({}, "messages", lang)}}</label>
                                <text>{[paymentInfo.amount]}</text>
                            </div>
                            <div class="form-group">
                                <label for="type">{{ 'dash_type_c' | trans({}, "messages", lang)}}</label>
                                <text>{{ 'dash_credit_card' | trans({}, "messages", lang)}}</text>
                            </div>
                            <!--div class="col-xs-6 no-padding"-->
                            <div class="form-group">
                                <label for="fullname">{{ 'dash_name_card' | trans({}, "messages", lang)}}</label>
                                <input type="text" class="form-control" id="nameOnCard" ng-model ="paymentInfo.nameOnCard">
                            </div>

                            <div class="form-group">
                                <label for="creditCard">{{ 'dash_card_type' | trans({}, "messages", lang)}}</label>
                                <select name="creditCard" id="cardType" class="form-control" ng-model="paymentInfo.cardType" >
                                    <option value=""></option>
                                    <option value="Visa">Visa</option>
                                    <option value="MasterCard">Master Card</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6 no-padding">
                                    <label for="cardnumber">{{ 'dash_card_number' | trans({}, "messages", lang)}}&nbsp; </label><img src="{{ asset('images/card_mastercard.png') }}"><img src="{{ asset('images/card_visa.png') }}">
                                </div>



                                <div class="row margin-left">

                                    <div class="col-xs-7 no-padding">
                                        <input type="number" class="form-control" id="cardNumber" maxlength="16"  ng-model="paymentInfo.cardNumber" >
                                    </div>
                                    <div class="col-xs-1 no-padding"></div>

                                    <div class="col-xs-3 no-padding">

                                        <input type="text" class="form-control" id="cvv" maxlength="3"  placeholder="CVV" ng-model="paymentInfo.cvv">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="dateexpiration">{{ 'dash_expiration_date' | trans({}, "messages", lang)}}</label>

                                    <div class="row margin-left">

                                        <div class="col-xs-4 no-padding">
                                            <select name="dateexpirationmonth" id="expMonth" class="form-control" ng-model="paymentInfo.expMonth">

                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-2 no-padding"></div>
                                        <div class="col-xs-5 no-padding">
{#                                         <select name="dateexpirationyear" id="expYear" class="form-control" ng-model="paymentInfo.expYear">
                                             {% set dateSplit = today |split("-") %}
                                             {% set year = dateSplit[0] %}
                                             {% for yr in year..(year+10) %}
                                                 <option value="{{ yr |slice(2,2)}}">{{ yr }}</option>
                                             {% endfor %}
#}

                                         </select>
                                     </div>
                                 </div>

                             </div>
                         </div>



                     </div>
                 </div>



                 <div class="modal-footer">
                     <button type="button" class="btn bg-yellow color-black" ng-show="showPaymentForm" ng-click="goToHouseInfoForm()">
                         <span class="glyphicon glyphicon-chevron-left" title=""></span>{{ 'dash_back' | trans({}, "messages", lang)}}
                     </button>
                     <button type="button" class="btn bg-blue color-white" name="btn-submit" ng-show="showPaymentForm" ng-click="addRecurringPayments()">
                         {{ 'dash_submit' | trans({}, "messages", lang)}}<span class="glyphicon glyphicon-ok-circle" title=""></span>
                     </button>
                     <button type="button" class="btn bg-yellow color-black" ng-hide="showPaymentForm" ng-click="goToPaymentForm()">
                         {{ 'dash_next' | trans({}, "messages", lang)}}<span class="glyphicon glyphicon-chevron-right" title=""></span>
                     </button>
                 </div>
             </div>

         </div>
     </div>

 </div>



 <div class="pad">
 </div>
{% endblock %}