{% extends 'base.html.twig' %}

{% block title %} My profile{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller="DashboardController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu.html.twig' with {'customerId' : customer.customerid} %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">
				<h3 class="bg-yellow"> Mon profil </h3>

                <div class="padding-sm">
                    <div class="spacer-large"></div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> {{customer.firstname ~ " " ~ customer.lastname }} </div>
                    </div>

                    <div class="spacer-medium"></div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> {{customer.address ~ ", " ~ customer.city ~ ", " ~ customer.state ~ ", " ~ customer.zipcode ~ ", " ~ customer.country}} </div>
                    </div>

                    <div class="spacer-medium"></div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> {{customer.phoneprimary ~ ", " ~ customer.phonealternate}} </div>
                    </div>


                    <div class="spacer-large"></div>
                    <div class="spacer-large"></div>
                    <h4 class="pr-house-section">HOUSES</h4>

                    <div class="table-responsive table-hover">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Address</th>
                                    <th>Plan</th>
                                    <th>Local agent number</th>
                                </tr>
                            </thead>

                            <tbody>

                            {% for house in houses %}
                                <tr>
                                    <td>{{ house.country }}</td>
                                    <td>{{ house.address }}</td>
                                    <td>{{ house.plan }}</td>
                                    <td>{{ house.agentNumber }}</td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>



        </div>
    </div>

    </div>



    <div class="pad">
    </div>
{% endblock %}