{% extends 'base.html.twig' %}

{% block title %}
    {% set lang = app.session.get('lang') %}
    {{ 'dash_change_plans' | trans({}, "messages", lang)}}
{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div>
    <div class="container" ng-controller="PlanController">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu.html.twig' with {'customerId' : customer.customerid} %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 no-padding">


                <div class="table-responsive">
                    <table class="table table-hover ">

                        <thead class="bg-yellow font-header">
                        <tr>
                            <th colspan="5">{{ 'dash_change_plans' | trans({}, "messages", lang)}}</th>



                        </tr>
                        </thead>
                        <thead class="bg-light-gray">
                        <tr>
                            <th>{{ 'form_Country' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'form_address' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'form_city' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'dash_local_agent' | trans({}, "messages", lang)}}</th>
                            <th class="">Plan</th>
                        </tr>
                        </thead>
                        <tbody>

                            {% for house in houses %}
                                <tr>
                                    <td>{{ house.country }}</td>
                                    <td>{{ house.address }}</td>
                                    <td>{{ house.city }}</td>
                                    <td>{{ house.agentNumber }}</td>
                                    <td>
                                        <select class="form-control" ng-change="changePlan({{ house.id }})">
                                            {% for plan in plans %}
                                                {% set selected = '' %}
                                                {% if(plan.planid==house.planId) %}
                                                    {% set selected = 'selected' %}
                                                {% endif %}

                                                <option value="{{ plan.planid }}" {{ selected }}>{{ plan.planname }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                           {% endfor %}


                        </tbody>
                    </table>
                </div>





            </div>
        </div>


    </div>

    </div>
    <div class="pad">
    </div>
{% endblock %}