{% extends 'base.html.twig' %}

{% block title %}
    {% set lang = app.session.get('lang') %}
    {{ 'dash_create_serviceReq' | trans({}, "messages", lang)}}
{% endblock %}
{% block body %}
    <div class="pad">
    </div>
    <div  ng-controller="SendRequestController" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu.html.twig' with {'customerId' : customer.customerid} %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding ">

                <div class="modal-header bg-yellow">

                    <h4 class="modal-title">{{ 'dash_create_serviceReq' | trans({}, "messages", lang)}}</h4>
                </div>

                <div class="modal-body">
                    <form class="form-inline" id="frm_service_request" method="post" action="{{ path('sendServiceRequest') }}">

                        <!--<div class="row">
                            <div class="col-xs-12 error-message text-center">Charges may apply if service requested is not included in plan</div>
                        </div><br>-->
                        <p class="error-message text-center">{[request.error]}</p>
                        <div class="row">
                            <div class="col-xs-4 text-bold">{{ 'dash_reference_number' | trans({}, "messages", lang)}}</div>
                            <div class="col-xs-7" >: {{ invoiceNumber }} </div>
                        </div><br>


                        <div class="row">
                            <div class="col-xs-4 text-bold">{{ 'dash_sdate' | trans({}, "messages", lang)}}</div>
                            <div class="col-xs-7" >: {{ today }} </div>
                        </div><br>
                        <div class="row">
                            <div class="col-xs-4 text-bold">{{ 'dash_customer' | trans({}, "messages", lang)}}</div>
                            <div class="col-xs-7" > : {{ customer.firstname ~ " " ~ customer.lastname }}</div>
                        </div><br>
                        <div class="row">
                            <label class="col-xs-4 text-bold" for="addr">{{ 'dash_house_service' | trans({}, "messages", lang)}}</label>
                            <div class="col-xs-7">
                                <select name="houseId" id="houseId"  class="form-control" ng-model="request.houseId">
                                    <option value=""></option>
                                    {% for house in customer.houses %}
                                        <option value="{{ house.houseid }}">{{ house.country ~ " ," ~ house.city ~ " ," ~ house.address }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div><br>

                        <!--<div class="row" ng-hide="request.houseId==undefined || request.houseId==''">
                            <div class="col-xs-5 text-bold">Plan</div>
                            <div class="col-xs-7" >:{[getPlanPrice()]}</div>
                        </div><br>-->

                        <div class="row">
                            <label class="col-xs-4 text-bold" for="servicereq">{{ 'admin_service' | trans({}, "messages", lang)}} </label>
                            <div class="col-xs-7">

                                <select id="serviceId" name="serviceId" class="form-control" ng-model="request.serviceId">
                                    <option value=""></option>
                                    {% for service in services|sort %}
                                        <option value="{{ service.serviceid }}">{{ service.servicename }}</option>
                                    {% endfor %}

                                </select>

                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col-xs-4 text-bold">{{ 'dash_request_details' | trans({}, "messages", lang)}}:</div>&nbsp;
                            <div class="col-xs-7">&nbsp;&nbsp;&nbsp;
                                <textarea class="form-control " rows="10" name="requestDetails" id="requestDetails" ng-model="request.requestDetails"></textarea>
                            </div>
                        </div><br>


                            <p class="error-message text-center">{[request.error]}</p>



                        <div class="modal-footer">
                            <button type="button" class="btn bg-yellow color-black" ng-click="sendRequest()">
                                <span class="glyphicon glyphicon-send" title="Send request"></span> {{ 'dash_send_proforma' | trans({}, "messages", lang)}}
                            </button>
                        </div>

                        <input type="hidden" name="customerId" value="{{ customer.customerid }}">
                        <input type="hidden" name="invoiceNumber" value="{{ invoiceNumber }}">
                        <!--<input type="hidden" id="hHouseId" name="houseId">
                        <input type="hidden" id="hRequestDetails" name="requestDetails">
                        <input type="hidden" id="hServiceId" name="serviceId">-->
                    </form>

            </div>
        </div>


    </div>

    </div>
    <div class="pad">
    </div>
{% endblock %}