{% extends 'base.html.twig' %}
{% block body %}
    <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="homepage-02" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.9 auto mode -->
        <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.9">
            <ul>	<!-- SLIDE  -->
                <li data-index="rs-4" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="http://renovation.thememove.com/demo/wp-content/"  data-delay="9030"  data-rotate="0"  data-saveperformance="off"  data-title="Slide 1" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('images/page-home/home02-slide01.jpg') }}" style='background-color:#333333' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-4-layer-11"
                         data-x="['left','left','left','left']" data-hoffset="['720','720','720','720']"
                         data-y="['top','top','top','top']" data-voffset="['238','238','238','238']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;s:200;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1030"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"

                         data-elementdelay="0.1"
                         data-end="9000"

                         style="z-index: 5; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">Let's get the job done!
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Renovation-SmallTitle   tp-resizeme rs-parallaxlevel-2"
                         id="slide-4-layer-3"
                         data-x="['left','left','left','left']" data-hoffset="['725','725','725','725']"
                         data-y="['top','top','top','top']" data-voffset="['326','326','326','326']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="880"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"

                         data-end="9000"

                         style="z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 1.00); font-size: 18px;">Yes we can do it.
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption Renovation-Button rev-btn  rs-parallaxlevel-0"
                         id="slide-4-layer-10"
                         data-x="['left','left','left','left']" data-hoffset="['880','880','880','880']"
                         data-y="['top','top','top','top']" data-voffset="['381','381','381','381']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(17, 17, 17, 1.00);"

                         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="880"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-responsive="off"
                         data-end="9000"

                         style="z-index: 10; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><a href="#">FIND OUT MORE</a> <i class="fa-icon-angle-double-right"></i>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-5" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="http://renovation.thememove.com/demo/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="Slide 2" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('images/page-home/home02-slide02.jpg') }}" style='background-color:#E7E7E7' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-5-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['975','975','975','975']"
                         data-y="['top','top','top','top']" data-voffset="['148','148','148','148']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                         data-start="500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 5; white-space: nowrap; color: rgba(17, 17, 17, 1.00);">LET'S OPEN
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Renovation-Button rev-btn  rs-parallaxlevel-2"
                         id="slide-5-layer-3"
                         data-x="['left','left','left','left']" data-hoffset="['975','975','975','975']"
                         data-y="['top','top','top','top']" data-voffset="['364','364','364','364']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(17, 17, 17, 1.00);"

                         data-transform_in="opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="600"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-responsive="off"

                         style="z-index: 6; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><a href="#">FIND OUT MORE</a>  <i class="fa-icon-angle-double-right"></i>
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-5-layer-4"
                         data-x="['left','left','left','left']" data-hoffset="['1270','1270','1270','1270']"
                         data-y="['top','top','top','top']" data-voffset="['148','148','148','148']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                         data-start="600"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 7; white-space: nowrap; color: rgba(251, 210, 50, 1.00);">THE DOOR
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-5-layer-5"
                         data-x="['left','left','left','left']" data-hoffset="['974','974','974','974']"
                         data-y="['top','top','top','top']" data-voffset="['201','201','201','201']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="600"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"

                         data-elementdelay="0.05"

                         style="z-index: 8; white-space: nowrap; color: rgba(17, 17, 17, 1.00);">TO BETTER DAYS!
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption Renovation-SmallTitle   tp-resizeme rs-parallaxlevel-2"
                         id="slide-5-layer-7"
                         data-x="['left','left','left','left']" data-hoffset="['975','975','975','975']"
                         data-y="['top','top','top','top']" data-voffset="['291','291','291','291']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="600"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 9; white-space: nowrap; color: rgba(17, 17, 17, 1.00);">Book expert home cleaners and handymen at a moment’s notice.

                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption Renovation-SmallTitle   tp-resizeme rs-parallaxlevel-2"
                         id="slide-5-layer-8"
                         data-x="['left','left','left','left']" data-hoffset="['975','975','975','975']"
                         data-y="['top','top','top','top']" data-voffset="['315','315','315','315']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="600"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 10; white-space: nowrap; color: rgba(17, 17, 17, 1.00);">Just pick a time and we’ll do the rest.
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-6" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="http://renovation.thememove.com/demo/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="Slide 3" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('images/page-home/home02-slide03.jpg') }}" style='background-color:#333333' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-6-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['-137','-137','-137','-137']"
                         data-y="['top','top','top','top']" data-voffset="['148','148','148','148']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                         data-start="500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 5; white-space: nowrap;">LET’S OPEN
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-2"
                         id="slide-6-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['210','210','210','210']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">TO BETTER DAYS!
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Renovation-Button rev-btn  rs-parallaxlevel-1"
                         id="slide-6-layer-10"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['360','360','360','360']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(17, 17, 17, 1.00);"

                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="1200"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-responsive="off"

                         style="z-index: 7; white-space: nowrap;background-color:rgba(251, 210, 50, 1.00);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><a href="#">FIND OUT MORE</a>  <i class="fa-icon-angle-double-right"></i>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-6-layer-11"
                         data-x="['center','center','center','center']" data-hoffset="['150','150','150','150']"
                         data-y="['top','top','top','top']" data-voffset="['148','148','148','148']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                         data-start="1200"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 8; white-space: nowrap; color: rgba(251, 210, 50, 1.00);">THE DOOR
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption Renovation-SmallTitle   tp-resizeme rs-parallaxlevel-2"
                         id="slide-6-layer-13"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['290','290','290','290']"
                         data-width="503"
                         data-height="45"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"

                         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="1200"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="color: #fff;font-size: 20px; z-index: 9; min-width: 503px; max-width: 503px; max-width: 45px; max-width: 45px; white-space: normal;"><center>Book expert home cleaners and handymen at a moment’s notice.</center>
                    </div>
                </li>
            </ul>
            <div class="tp-static-layers">
            </div>
            <div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>	</div>
    </div><!-- END REVOLUTION SLIDER -->



    <section class="we-are we-are-layout2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="we-are-layout2_pro">
                        <h2 class="heading-title">General pro</h2>
                        <p>
                            Frequently we present emergencies, finding a specialist is difficult, sometimes because of lack of knowledge or lack of time, it is impossible for us to solve it, what to do?
                            General pro has a team of specialists ready to attend
                            General pro offers a range of services at very comfortable prices
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /.we-are-layout2 -->


    <section class="services services-style-01">
        <div class="service-heading">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="heading-title">Our Services</h2>
                        <p class="description">We offer a wide range of services. Leave the building to the professionals.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-content">
            <div class="container">
                <div class="row">




                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-04.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#plumbing">
                                <div class="service-item_icon"><i class="rn-plumbing"></i></div>
                                plumbing
                            </a>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-02.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#electricity">
                                <div class="service-item_icon"><i class="rn-electrical"></i></div>
                                electricity
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-03.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#service-windows-and-doors">
                                <div class="service-item_icon"><i class="rn-home"></i></div>
                                Doors and Windows
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-01.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#locksmith">
                                <div class="service-item_icon"><i class="rn-renovation"></i></div>
                                Locksmith
                            </a>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-05.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#appliances">
                                <div class="service-item_icon"><i class="rn-heating"></i></div>
                                Appliance
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-12.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#additional-services">
                                <div class="service-item_icon"><i class="rn-painting"></i></div>
                                Additional services
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /.services-style-01 -->

    <section class="feature-style-2" id="section-plans" data-parallax="scroll" data-image-src="images/page-home/feature_style2_bg.jpg">
        <div class="service-heading">
            <div class="container" >
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="heading-title">Our plans</h2>
                        <p class="description">Three plans are at your disposal.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature-item">
                        <div class="feature-item_icon">
                            <i class="pe-7s-tools"></i>
                        </div>
                        <h3 class="feature-item_title">
                            GP Basic
                        </h3>
                        <p class="feature-item_description">
                            Includes basic services such as locksmith, plumbing, electricity and windows & doors.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature-item feature-item_clock">
                        <div class="feature-item_icon">
                            <i class="pe-7s-clock"></i>
                        </div>
                        <h3 class="feature-item_title">
                            GP Plus
                        </h3>
                        <p class="feature-item_description">
                            Basic services plus appliance service.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature-item feature-item_price">
                        <div class="feature-item_icon">
                            <i class="pe-7s-cash"></i>
                        </div>
                        <h3 class="feature-item_title">
                            GP Add
                        </h3>
                        <p class="feature-item_description">

                            Additional services at your disposal such as gardening, nursing, child care,IT support & services, painting services and house cleaning
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="plans-summary">
        <div class="">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="text-center">GP BASIC</th>
                        <th class="text-center">GP PLUS</th>
                        <th class="text-center">GP ADD</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="active">Locksmith</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active">Electricity</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active">Doors and Windows</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active">Plumbing</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active">Appliances</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active">AC/Heating</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active">Nursing Care</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active">Day Care</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active">Lawn maintenance</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active">Cleaning services</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active">IT support & services</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>

    </section>


    <section class="new-tips">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center new-tips_title">
                    <h2 class="heading-title">Just three steps</h2>
                    <p></p>
                </div>
            </div>
            <div class="row post-simple-layout">

                <div class="col-sm-3 post post-simple-item">
                    <div class="post-thumb">
                        <a class="attachment-post-thumb" href="my-account.html"><img src="{{ asset('images/post/post08-800x500.jpg') }}" alt=""></a>
                        <div class="entry-meta">
              <span class="posted-on">
                <i class="fa fa-clock-o"></i>
                <a href="{{ url('app_pagenavigation_showregister') }}">Select your plan</a>
              </span>

                        </div>
                    </div>
                    <div class="entry-header">
                        <h2 class="entry-title">
                            <a href="blog-single.html">Check what plan we offer and choose what suits you best</a>
                        </h2>
                    </div>
                </div>
                <!-- /.post-simple-item -->

                <div class="col-sm-3 post post-simple-item">
                    <div class="post-thumb">
                        <a class="attachment-post-thumb" href="my-account.html"><img src="{{ asset('images/post/post07-800x500.jpg') }}" alt=""></a>
                        <div class="entry-meta">
        <span class="posted-on">
          <i class="fa fa-clock-o"></i>
          <a href="{{ url('app_pagenavigation_showregister') }}">Provide information</a>
        </span>

                        </div>
                    </div>
                    <div class="entry-header">
                        <h2 class="entry-title">
                            <a href="blog-single.html">Fill out the form with the required information</a>
                        </h2>
                    </div>
                </div>
                <!-- /.post-simple-item -->

                <div class="col-sm-3 post post-simple-item">
                    <div class="post-thumb">
                        <a class="attachment-post-thumb" href="my-account.html"><img src="{{ asset('images/post/post06-800x500.jpg') }}" alt=""></a>
                        <div class="entry-meta">
        <span class="posted-on">
          <i class="fa fa-clock-o"></i>
          <a href="{{ url('app_pagenavigation_showregister') }}">Submit and enrolled</a>
        </span>

                        </div>
                    </div>
                    <div class="entry-header">
                        <h2 class="entry-title">
                            <a href="blog-single.html">Submit and enrolled</a>
                        </h2>
                    </div>
                </div>
                <!-- /.post-simple-item -->


                <!-- /.post-simple-item -->

            </div>
            <!-- /.post-simple-layout -->
        </div>
    </section>
    <!-- /.new-tips -->
{% endblock %}

