{% extends 'base.html.twig' %}
{% block body %}
    <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="homepage-02" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.9 auto mode -->
        <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.9">
            <ul>	<!-- SLIDE  -->
                <li data-index="rs-4" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="http://renovation.thememove.com/demo/wp-content/"  data-delay="9030"  data-rotate="0"  data-saveperformance="off"  data-title="Slide 1" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('images/page-home/home02-slide01.jpg') }}" style='background-color:#333333' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-4-layer-11"
                         data-x="['left','left','left','left']" data-hoffset="['720','720','720','720']"
                         data-y="['top','top','top','top']" data-voffset="['238','238','238','238']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;s:200;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="1030"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"

                         data-elementdelay="0.1"
                         data-end="9000"

                         style="z-index: 5; white-space: nowrap; color: #66a3ff;">{{ 'home_band1_title' | trans({}, "messages", lang) }}
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Renovation-SmallTitle   tp-resizeme rs-parallaxlevel-2"
                         id="slide-4-layer-3"
                         data-x="['left','left','left','left']" data-hoffset="['725','725','725','725']"
                         data-y="['top','top','top','top']" data-voffset="['326','326','326','326']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="880"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"

                         data-end="9000"

                         style="z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 1.00); font-size: 1.9em;">{{ 'home_band1_subtitle' | trans({}, "messages", lang) }}
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption Renovation-Button rev-btn  rs-parallaxlevel-0"
                         id="slide-4-layer-10"
                         data-x="['left','left','left','left']" data-hoffset="['880','880','880','880']"
                         data-y="['top','top','top','top']" data-voffset="['381','381','381','381']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(17, 17, 17, 1.00);"

                         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="880"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-responsive="off"
                         data-end="9000"

                         style="z-index: 10; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><a href="{{ url('app_pagenavigation_showplans') }}">{{ 'home_band1_button' | trans({}, "messages", lang) }}</a> <i class="fa-icon-angle-double-right"></i>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-5" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="http://renovation.thememove.com/demo/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="Slide 2" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('images/page-home/home02-slide02.jpg') }}" style='background-color:#E7E7E7' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-5-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['300','300','300','300']"
                         data-y="['top','top','top','top']" data-voffset="['148','148','148','148']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                         data-start="500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 5; white-space: nowrap; color: #070b4f;">{{ 'home_band2_title1' | trans({}, "messages", lang) }}
                    </div>

                    <!-- LAYER NR. 2 -->

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-5-layer-4"
                         data-x="['left','left','left','left']" data-hoffset="['400','400','400','400']"
                         data-y="['top','top','top','top']" data-voffset="['148','148','148','148']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                         data-start="600"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 7; white-space: nowrap; color: #070b4f;">{{ 'home_band2_title2' | trans({}, "messages", lang) }}
                    </div>

                    <!-- LAYER NR. 4 -->
                    <!--div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-5-layer-5"
                         data-x="['left','left','left','left']" data-hoffset="['500','500','500','500']"
                         data-y="['top','top','top','top']" data-voffset="['201','201','201','201']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="600"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"

                         data-elementdelay="0.05"

                         style="  font-size: 1.8em; z-index: 8; white-space: nowrap; color: black;"> {{ 'home_band2_subtitle' | trans({}, "messages", lang) }}
                    </div>

                    <!-- LAYER NR. 5 -->
             <div class="tp-caption Renovation-SmallTitle   tp-resizeme rs-parallaxlevel-2"
                         id="slide-6-layer-13"
                         data-x="['center','center','center','center']" data-hoffset="['-350','-350','-350','-350']"
                         data-y="['top','top','top','top']" data-voffset="['250','250','250','250']"
                         data-width="503"
                         data-height="45"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"

                         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="1200"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="color: #0000e6;font-size: 2em; z-index: 9; min-width: 503px; max-width: 503px; max-width: 45px; max-width: 45px; white-space: normal;">{{ 'home_band2_subtitle' | trans({}, "messages", lang) }}
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption Renovation-SmallTitle   tp-resizeme rs-parallaxlevel-2"
                         id="slide-5-layer-8"
                         data-x="['left','left','left','left']" data-hoffset="['975','975','975','975']"
                         data-y="['top','top','top','top']" data-voffset="['315','315','315','315']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="600"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="  font-size: 1.8em; z-index: 8; white-space: nowrap; color: #070b4f;">
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-6" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="http://renovation.thememove.com/demo/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="Slide 3" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('images/page-home/home02.jpg') }}" style='background-color:#333333' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-6-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['-600','-600','-600','-600']"
                         data-y="['top','top','top','top']" data-voffset="['148','148','148','148']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                         data-start="500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 5; white-space: nowrap; color:#0000cc;">{{ 'home_band3_title1' | trans({}, "messages", lang) }}
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-2"
                         id="slide-6-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['-400','-400','-400','-400']"
                         data-y="['top','top','top','top']" data-voffset="['210','210','210','210']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 6; white-space: nowrap; color: #0000cc;">{{ 'home_band3_title2' | trans({}, "messages", lang) }}
                    </div>

                    <!-- LAYER NR. 3 -->


                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
                         id="slide-6-layer-11"
                         data-x="['center','center','center','center']" data-hoffset="['-300','-300','-300','-300']"
                         data-y="['top','top','top','top']" data-voffset="['148','148','148','148']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                         data-start="1200"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 8; white-space: nowrap; color: rgba(251, 210, 50, 1.00);">
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption Renovation-SmallTitle   tp-resizeme rs-parallaxlevel-2"
                         id="slide-6-layer-13"
                         data-x="['center','center','center','center']" data-hoffset="['-350','-350','-350','-350']"
                         data-y="['top','top','top','top']" data-voffset="['290','290','290','290']"
                         data-width="503"
                         data-height="45"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"

                         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;"
                         data-start="1200"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="color:#0000cc;font-size: 2em; z-index: 9; min-width: 503px; max-width: 503px; max-width: 45px; max-width: 45px; white-space: normal;">{{ 'home_band3_subtitle' | trans({}, "messages", lang) }}
                    </div>
                </li>
            </ul>
            <div class="tp-static-layers">
            </div>
            <div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>	</div>
    </div><!-- END REVOLUTION SLIDER -->



    <section class="we-are we-are-layout2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="we-are-layout2_pro">
                        <h2 class="heading-title">Galico Solutions</h2>
                        <p>
                            {{ 'home_generalpro_resume' | trans({}, "messages", lang) }}</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /.we-are-layout2 -->


    <section class="services services-style-01">
        <div class="service-heading bg-grisfonce">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">

                        <h2 class="heading-title"> {{ 'home_ourservice_title' | trans({}, "messages", lang) }}</h2>
                        <h5 class="color-white"> {{ 'home_ourservice_subtitle' | trans({}, "messages", lang) }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-content">
            <div class="container">
                <div class="row">




                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-04.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#plumbing">
                                <div class="service-item_icon"><i class="rn-plumbing"></i></div>
                                {{ 'plumbing' | trans({}, "messages", lang) }}
                            </a>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-02.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#electricity">
                                <div class="service-item_icon"><i class="rn-electrical"></i></div>
                                {{ 'electricity' | trans({}, "messages", lang) }}
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-03.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#service-windows-and-doors">
                                <div class="service-item_icon"><i class="rn-home"></i></div>
                                {{ 'doors_windows' | trans({}, "messages", lang) }}
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-01.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#locksmith">
                                <div class="service-item_icon"><i class="rn-renovation"></i></div>
                                {{ 'locksmith' | trans({}, "messages", lang) }}
                            </a>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-05.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#appliances">
                                <div class="service-item_icon"><i class="rn-heating"></i></div>
                                {{ 'appliances' | trans({}, "messages", lang) }}
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="service-item">
                            <div class="service-item_img">
                                <img src="{{ asset('images/page-home/services-12.jpg') }}" alt="service-renovation">
                            </div>
                            <a class="service-item_link" href="{{ url('app_pagenavigation_showservices') }}#additional-services">
                                <div class="service-item_icon"><i class="rn-painting"></i></div>
                                {{ 'additional_services' | trans({}, "messages", lang) }}
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /.services-style-01 -->

    <section class="feature-style-2" id="section-plans" data-parallax="scroll" data-image-src="images/page-home/feature_style2_bg.jpg">
        <div class="service-heading">
            <div class="container" >
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="heading-title">{{ 'home_ourplans' | trans({}, "messages", lang) }}</h2>
                        <h5 class="color-white">{{ 'home_ourplans_subtitle' | trans({}, "messages", lang) }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature-item">
                        <div class="feature-item_icon">
                            <i class="pe-7s-tools"></i>
                        </div>
                        <a class="service-item_link" href="{{ url('app_pagenavigation_showplans') }}#appliances">
                            GP BASIC
                        </a>
                        <p class="feature-item_description">
                            {{ 'home_gpbasic_resume' | trans({}, "messages", lang) }}
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature-item feature-item_clock">
                        <div class="feature-item_icon">
                            <i class="pe-7s-plus"></i>
                        </div>
                        <a class="service-item_link" href="{{ url('app_pagenavigation_showplans') }}#appliances">
                            GP PLUS
                        </a>
                        <p class="feature-item_description">
                            {{ 'home_gpplus_resume' | trans({}, "messages", lang) }}
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature-item feature-item_price">
                        <div class="feature-item_icon">
                            <i class="pe-7s-albums"></i>
                        </div>
                        <a class="service-item_link" href="{{ url('app_pagenavigation_showplans') }}#appliances">
                            GP ADD
                        </a>
                        <p class="feature-item_description">

                            {{ 'home_gpadd_resume1' | trans({}, "messages", lang) }}
                        </p>
                        <p class="feature-item_description">

                            {{ 'home_gpadd_resume2' | trans({}, "messages", lang) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="plans-summary">
        <div class="">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="text-center">GP BASIC</th>
                        <th class="text-center">GP PLUS</th>
                        <th class="text-center">GP ADD</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="active">{{ 'locksmith' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active">{{ 'electricity' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"> {{ 'doors_windows' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"> {{ 'plumbing' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"> {{ 'appliances' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"> {{ 'ac_heating' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"> {{ 'nursing_care' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"> {{ 'child_Care' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"> {{ 'lawn_maintenance' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"> {{ 'cleaning_services' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"> {{ 'it_support_services' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"> {{ 'painting_services' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="active"> {{ 'service_additionalservices_7' | trans({}, "messages", lang) }}</td>
                        <td class="colorplan text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="active text-center">
                            <span class="glyphicon glyphicon-minus"></span>
                        </td>
                        <td class="color-yellowhite text-center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>

    </section>


    <section class="new-tips">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center new-tips_title">
                    <h2 class="heading-title">{{ 'home_just_three_steps' | trans({}, "messages", lang) }}</h2>
                    <p></p>
                </div>
            </div>
            <div class="row post-simple-layout">

                <div class="col-sm-3 post post-simple-item">
                    <div class="post-thumb">
                        <a class="attachment-post-thumb" href="{{ url('app_pagenavigation_showplans') }}"><img src="{{ asset('images/post/post08-800x500.jpg') }}" alt=""></a>
                        <div class="entry-meta">
              <span class="posted-on">
                <i class="fa fa-clock-o"></i>
                <a href="{{ url('app_pagenavigation_showplans') }}">{{ 'home_select_your_plan' | trans({}, "messages", lang) }}</a>
              </span>

                        </div>
                    </div>
                    <div class="entry-header">
                        <h2 class="entry-title">
                            <a href="{{ url('app_pagenavigation_showplans') }}">{{ 'home_select_your_plan_resume' | trans({}, "messages", lang) }}</a>
                        </h2>
                    </div>
                </div>
                <!-- /.post-simple-item -->

                <div class="col-sm-3 post post-simple-item">
                    <div class="post-thumb">
                        <a class="attachment-post-thumb" href="{{ url('app_pagenavigation_showregister') }}"><img src="{{ asset('images/post/post07-800x500.jpg') }}" alt=""></a>
                        <div class="entry-meta">
        <span class="posted-on">
          <i class="fa fa-clock-o"></i>
          <a href="{{ url('app_pagenavigation_showregister') }}">{{ 'home_complete_information' | trans({}, "messages", lang) }}</a>
        </span>

                        </div>
                    </div>
                    <div class="entry-header">
                        <h2 class="entry-title">
                            <a href="{{ url('app_pagenavigation_showregister') }}">{{ 'home_complete_information_resume' | trans({}, "messages", lang) }}</a>
                        </h2>
                    </div>
                </div>
                <!-- /.post-simple-item -->

                <div class="col-sm-3 post post-simple-item">
                    <div class="post-thumb">
                        <a class="attachment-post-thumb" href="{{ url('app_pagenavigation_showregister') }}"><img src="{{ asset('images/post/post06-800x500.jpg') }}" alt=""></a>
                        <div class="entry-meta">
        <span class="posted-on">
          <i class="fa fa-clock-o"></i>
          <a href="{{ url('app_pagenavigation_showregister') }}">{{ 'home_submit_and_enrolled' | trans({}, "messages", lang) }}</a>
        </span>

                        </div>
                    </div>
                    <div class="entry-header">
                        <h2 class="entry-title">

                            <a href="{{ url('app_pagenavigation_showregister') }}">{{ 'home_submit_and_enrolled_resume' | trans({}, "messages", lang) }}</a>
                        </h2>
                    </div>
                </div>
                <!-- /.post-simple-item -->


                <!-- /.post-simple-item -->

            </div>
            <!-- /.post-simple-layout -->
        </div>
    </section>
    <!-- /.new-tips -->
{% endblock %}