{% extends 'base.html.twig' %}

{% block title %} My dashboard{% endblock %}

{% block body %}
    <div ng-controller="DashboardController">
        <div class="pad">
        </div>
        <div class="container">
            <h2 class="heading-title">{{ 'dash_my_dashboard' | trans({}, "messages", lang)}}</h2>
            </br>
            <div class="row">



                <div class="col-xs-12 col-md-4 border-yellow no-padding">

                    <div class="table-responsive ">
                        <table class="table" id="tbl-profile">
                            <thead class="bg-yellow font-header">
                            <tr>
                                <th colspan="2" ng-bind="customer.fullName"></th>
                                <th class="text-right"><a href="" data-toggle="modal" data-target="#editModal" >
                                        <span class="glyphicon glyphicon-edit" title={{ 'dash_edit' | trans({}, "messages", lang)}} ></span>
                                    </a></th>

                            </tr>
                            </thead>

                            <tbody>

                            <tr>
                                <td colspan="3" class="text-center container-img">
                                    <img src="{{ asset('images/page-home/services-05.jpg') }}"  alt="profile" >

                                </td>

                            </tr>

                            <!--<tr>
                                <td>ID</td>
                                <td >CA24353</td>
                            </tr>-->
                            <tr>
                                <td>{{ 'form_lastname' | trans({}, "messages", lang) }}</td>
                                <td ng-bind="customer.lastName"></td>
                            </tr>
                            <tr>
                                <td>{{ 'form_name' | trans({}, "messages", lang)}}</td>
                                <td ng-bind="customer.firstName"></td>
                            </tr>
                            <tr>
                                <td>{{ 'form_email' | trans({}, "messages", lang)}}</td>
                                <td ng-bind="customer.email"></td>
                            </tr>

                            <tr>
                                <td>{{ 'form_phone_primary' | trans({}, "messages", lang)}}</td>
                                <td ng-bind="customer.phonePrimary"></td>
                            </tr>
                            <tr>
                                <td>{{ 'form_phone_alternate' | trans({}, "messages", lang)}}</td>
                                <td ng-bind="customer.phoneAlternate"></td>
                            </tr>
                            <tr>
                                <td>{{ 'form_Country' | trans({}, "messages", lang)}}</td>
                                <td ng-bind="customer.country"></td>
                            </tr>
                            <tr>
                                <td>{{ 'form_state' | trans({}, "messages", lang)}}</td>
                                <td ng-bind="customer.state"></td>
                            </tr>
                            <tr>
                                <td>{{ 'form_city' | trans({}, "messages", lang)}}</td>
                                <td ng-bind="customer.city"></td>
                            </tr>
                            <tr>
                                <td>{{ 'form_address' | trans({}, "messages", lang)}}</td>
                                <td ng-bind="customer.address"></td>
                            </tr>
                            <tr>
                                <td>{{ 'form_zipcode' | trans({}, "messages", lang)}}</td>
                                <td ng-bind="customer.zipCode"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <input type="hidden" id="customerId" value="{{ customer.customerid }}">
                </div>





                <div class="col-md-1"></div>
                <div class="col-xs-12 col-md-7 border-yellow no-padding">
                    <div class="table-responsive">
                        <table class="table table-hover ">

                            <thead class="bg-yellow font-header">
                            <tr>
                                <th colspan="4">{{ 'dash_house' | trans({}, "messages", lang)}}</th>
                                <th><a href="#" data-toggle="modal" data-target="#contratModal" >
                                        <span class="glyphicon glyphicon-plus-sign font-header"  title="contrat"></span>
                                    </a></th>
                                <th><a href="#" data-toggle="modal" data-target="#addmaisonModal" >
                                    <span class="glyphicon glyphicon-plus-sign font-header"  title={{ 'dash_add' | trans({}, "messages", lang)}}></span>
                                    </a></th>
                            </tr>
                            </thead>
                            <thead class="bg-light-gray">
                            <tr>
                                <th>{{ 'form_Country' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'form_address' | trans({}, "messages", lang)}}</th>
                                 <th>Plan</th>
                                <th>{{ 'dash_sdate' | trans({}, "messages", lang)}}</th>
                                <th>{{ 'dash_local_agent' | trans({}, "messages", lang)}}</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="house in houses">
                                    <td ng-bind="house.country"></td>
                                    <td ng-bind="house.address"></td>

                                    <td ng-bind="house.plan"></td>


                                    <td ng-bind="house.subscriptionDate"></td>
                                    <td ng-bind="house.agentNumber"></td>
                                    <td>
                                        <a href="#maison1" data-toggle="modal" data-target="#houseModal" ng-click="getSelectedHouseInfo(house.id)">
                                            <span class="glyphicon glyphicon-list-alt" title="View details" ></span>
                                        </a>
                                        <a href="#" data-toggle="modal" data-target="#paymentsModal" ng-click="getPaymentsHistory(house.id)">
                                            <span class="glyphicon glyphicon-usd" title="View payments" ></span>
                                        </a>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            </br></br>
            <div class="row">
                <div class="col-xs-12 no-padding">
                    <div class="panel-group" id="myAccordion">
                        <div class="panel border-yellow ">
                            <div class="panel-heading bg-yellow">
                                <h4 class="panel-title ">
                                    <a data-toggle="collapse" data-parent="#myAccordion" href="#collapsedashboard">JAN 21, 2017 - Plumbing - Closed</a>
                                </h4>
                            </div>

                            <div id="collapsedashboard" class="panel-collapse collapse in  ">
                                <div class="panel-body"><label class="text-bold">{{ 'dash_req_date' | trans({}, "messages", lang)}} :</label> 2017-01-21 <br/>
                                    <label class="text-bold">{{ 'dash_status' | trans({}, "messages", lang)}} :</label>{{ 'status_closed' | trans({}, "messages", lang)}}<br/>
                                    <label class="text-bold">{{ 'dash_req_id' | trans({}, "messages", lang)}}</label> : PL00023
                                </div>

                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>

                                <div class="col-xs-12 no-padding">
                                    <div class="table-responsive">
                                        <table class="table table-hover">

                                            <thead class="bg-light-gray">
                                            <tr>
                                                <th>{{ 'dash_intervention' | trans({}, "messages", lang)}}</th>
                                                <th>{{ 'dash_technician' | trans({}, "messages", lang)}}</th>
                                                <th>{{ 'dash_comments' | trans({}, "messages", lang)}}</th>
                                                

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>

                                                <td class="">04/25/2017</td>
                                                <td class="">Jorge Suarez</td>
                                                <td class="">asfgasd a asda asdf asdfasdfasasdfasf</td>
                                                

                                            </tr>
                                            <tr>

                                                <td class="">04/26/2017</td>
                                                <td class="">Irina Rodriguez</td>
                                                <td class="">asdfasd asdf asdf asdf sa fas</td>
                                                


                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>


            </div>
        </div>




        <!-- Modal -->
        <div id="houseModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header bg-yellow">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">House information - Details</h4>
                    </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-xs-5 text-bold">Plan</div>
                                    <div class="col-xs-7" ng-bind="selectedHouse.plan">: </div>
                                </div>
                                <!--<div class="row">
                                    <div class="col-xs-5 text-bold">Due date</div>
                                    <div class="col-xs-7">04/25/2017</div>
                                </div>-->
                                <div class="row">
                                    <div class="col-xs-5 text-bold">Suscription date</div>
                                    <div class="col-xs-7" ng-bind="selectedHouse.subscriptionDate">: </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 text-bold">Contact</div>
                                    <div class="col-xs-7" ng-bind="selectedHouse.contactFullName">: </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 text-bold">Phone (Primary)</div>
                                    <div class="col-xs-7" ng-bind="selectedHouse.phonePrimary">: </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 text-bold">Phone (Alternate)</div>
                                    <div class="col-xs-7" ng-bind="selectedHouse.phoneAlternate">: </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 text-bold">Country</div>
                                    <div class="col-xs-7" ng-bind="selectedHouse.country">: </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 text-bold">City</div>
                                    <div class="col-xs-7" ng-bind="selectedHouse.city">: </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 text-bold ">Address</div>
                                    <div class="col-xs-7" ng-bind="selectedHouse.address">: </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 text-bold">State / Province</div>
                                    <div class="col-xs-7" ng-bind="selectedHouse.state">: </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 text-bold">Local number</div>
                                    <div class="col-xs-7" ng-bind="selectedHouse.agentNumber"> </div>
                                </div>

                            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-yellow color-black" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove" title="Close"></span> Close
                        </button>
                    </div>
                </div>

            </div>
        </div>


        <div id="paymentsModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header bg-yellow">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Payments history</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-repeat="sub in subscriptions">
                            <h4 ng-bind="'Subscription  ' + sub.subscriptionDate + ' (' + sub.plan +')'" ></h4>

                            <div class="row">
                                <div class="col-xs-5 text-bold">Payment date</div>
                                <div class="col-xs-7 text-bold">Amount</div>
                            </div>
                            <div class="row" ng-repeat="payment in sub.payments">
                                <div class="col-xs-5" ng-bind="payment.paymentDate"></div>
                                <div class="col-xs-7" ng-bind="payment.amount | currency"></div>
                            </div>

                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-yellow color-black" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove" title="Close"></span> Close
                        </button>
                    </div>
                </div>

            </div>
        </div>



        <div id="editModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header bg-yellow">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ 'dash_edit_profile' | trans({}, "messages", lang)}}</h4>
                    </div>
                    <div class="modal-body">
                        <h5 class="error-message text-bold text-center" ng-bind="update.error"> </h5>
                        <div class="form-group">
                            <label for="lastname">{{ 'form_lastname' | trans({}, "messages", lang)}} *:</label>
                            <input type="text" class="form-control" id="lastName" ng-model="customerUpdated.lastName">
                        </div>
                        <div class="form-group">
                            <label for="lastname">{{ 'form_name' | trans({}, "messages", lang)}} *:</label>
                            <input type="text" class="form-control" id="firstName" ng-model="customerUpdated.firstName" >
                        </div>
                        <div class="form-group">
                            <label for="email">{{ 'form_email' | trans({}, "messages", lang)}} *:</label>
                            <input type="email" class="form-control" id="email" ng-model="customerUpdated.email" >
                        </div>

                        <div class="form-group">
                            <label for="phonePrimary">{{ 'form_phone_primary' | trans({}, "messages", lang)}} *:</label>
                            <input type="tel" class="form-control" id="phonePrimary" ng-model="customerUpdated.phonePrimary">
                        </div>
                        <div class="form-group">
                            <label for="phonealternate">{{ 'form_phone_alternate' | trans({}, "messages", lang)}}:</label>
                            <input type="tel" class="form-control" id="phoneAlternate" ng-model="customerUpdated.phoneAlternate" >
                        </div>
                        <div class="form-group">
                            <label for="country">{{ 'form_Country' | trans({}, "messages", lang)}} *:</label>
                            <input type="text" class="form-control" id="country" ng-model="customerUpdated.country">
                        </div>
                        <div class="form-group">
                            <label for="state">{{ 'form_state' | trans({}, "messages", lang)}} :</label>
                            <input type="text" class="form-control" id="state" ng-model="customerUpdated.state" >
                        </div>
                        <div class="form-group">
                            <label for="city">{{ 'form_city' | trans({}, "messages", lang)}} *:</label>
                            <input type="text" class="form-control" id="city" ng-model="customerUpdated.city" >
                        </div>
                        <div class="form-group">
                            <label for="address">{{ 'form_address' | trans({}, "messages", lang)}} *:</label>
                            <input type="text" class="form-control" id="address" ng-model="customerUpdated.address" >
                        </div>
                        <div class="form-group">
                            <label for="zipCode">{{ 'form_zipcode' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" id="zipCode" ng-model="customerUpdated.zipCode" >
                        </div>
                        <h5 class="error-message text-bold text-center" ng-bind="update.error"> </h5>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-yellow color-black" ng-click="updateCustomer()">
                            <span class="glyphicon glyphicon-floppy-disk" title="Save"></span> {{ 'dash_save' | trans({}, "messages", lang)}}
                        </button>
                    </div>
                </div>

            </div>
        </div>



        <div id="addmaisonModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header bg-yellow">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'dash_add_house' | trans({}, "messages", lang)}}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="add-plan">Plan:</label>
                            <select name="plan" class="form-control" id="plan"  required>
                                <option>GP Basic</option>
                                <option>GP Plus</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="add-contact">{{ 'dash_contact' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" id="add-contact" value="">
                        </div>
                        <div class="form-group">
                            <label for="add-phonePrimary">{{ 'form_phone_primary' | trans({}, "messages", lang)}}:</label>
                            <input type="tel" class="form-control" id="add-phonePrimary" value="" >
                        </div>
                        <div class="form-group">
                            <label for="add-phonealternate">{{ 'form_phone_alternate' | trans({}, "messages", lang)}}:</label>
                            <input type="tel" class="form-control" id="add-phonealternate" value="" >
                        </div>
                        <div class="form-group">
                            <label for="country">{{ 'form_Country' | trans({}, "messages", lang)}}*</label>
                            <select name="country" class="form-control" id="country"  required>
                                <option>Canada</option>
                                <option>United States</option>
                                <option>Mexico</option>
                                <option>Peru</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="add-state">{{ 'form_state' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" id="add-state" value="" >
                        </div>
                        <div class="form-group">
                            <label for="add-city">{{ 'form_city' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" id="add-city" value="" >
                        </div>

                        <div class="form-group">
                            <label for="add-address">{{ 'form_address' | trans({}, "messages", lang)}}:</label>
                            <input type="text" class="form-control" id="add-address" value="" >
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-yellow color-black" data-dismiss="modal">
                            <span class="glyphicon glyphicon-plus" title="Save"></span> {{ 'dash_add' | trans({}, "messages", lang)}}
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div id="contratModal" class="modal fade" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-yellow">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">CONTRACT AGREEMENT</h4>
                </div>
                <div class="modal-body">



                    <p>This agreement is entered into as of the XX day of October, 200x, between General Pro and __________</p>
                    <p>1.	Plans Limitations: General Pro’s plans, the GP Basic and the GP Plus take care of the service that we provide to you. In other words, you are paying for our labour. However, these plans do not cover some major additional materials that might be needed to fully realize a task. Moreover, being subscribed to our plans allows you to request our services twice a month. In both of these occasions, our team will go to your domicile and efficiently cater to your needs. If you were to demand our services more than two times per month, you would have to pay a supplementary price, which will be determined by the type of labor done, the amount of working hours, and the labor cost. Our plans comprise labour costs that are equal or less than 400$. Consequently, this amount is the maximum amount of costs covered by our plans. If your project or requirement were to exceed $400, you would have to pay the difference between the assignment’s final cost and $400. Furthermore, some of the services provided by our plans are only covered if they are minor. Such services include plumbing and electricity. If the tasks related to these services are deemed to be major by our experts, an additional payment will have to take place. Keep in mind that we will accommodate your needs and your demands to the best of our abilities, and we will give you the most reasonable price possible.  </p>
                    <p>2.	Force Majeure: Neither you nor General Pro shall be held accountable for any postponement or failure in performance under these Terms, if the cause of contract breach is beyond either party’s control. Such causes include but are not limited to acts of God, acts of war whether it is declared or undeclared, earthquakes, strikes, fires, floods, unobtainability of necessary utilities, blackouts and national disasters. Therefore, General Pro’s plans are not responsible for insuring services under such circumstances.  </p>
                    <p>3.	Payments: By acting in accordance with these terms, you agree to provide General Pro accurate and complete information about you and your payment information. You also agree to make your payments in full and on time. If you or any Member does not pay on time, or if General Pro is unable to charge a provided payment method for any reason, General Pro reserves all rights approved under law to pursue and recover payment, as well as all costs and expenses involved, including attorneys’ fees. If you have an amount of money due on any account, you agree that General Pro may charge such unpaid payments to your credit card, or bill you for said unpaid expenditures. You openly approve that all communication about fraudulent and delinquent accounts or payments due will be achieved by electronic mail or by phone; said communication may be made by General Pro or by anyone on its behalf. </p>
                    <p>4.	Warranty: General Pro guarantees the efficient completion of any assignment that you request. We assure you that we will treat your demand with the most care and professionalism. </p>
                    <p>5.	Contract Termination: If you were to end your contract and therefore, your subscription to either one of our plans, you shall pay the equivalent of three months of subscription, respective to your plan. You may request a cancellation by emailing xxxxxx.com or by calling us at xxxxxx. We will process your request within a 30 days of receiving it.  </p>
                    <p>Contacting information: If you still have any questions about our Contract Agreement, make sure to contact us by sending an email to xxxxxxx.com, or by calling us at xxxxxxx. </p>
                    <p>In Witness whereof the parties have respected this contract and fully executed it as of the day year first written above. The parties hereto agree that facsimile signature shall be as effective as originals.  </p>
                    <p>Party 1: General Pro</p>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            I agree with the terms and conditions of this Contract
                        </label>
                    </div>

                            <div class="modal-footer">
                                <button type="button" class="btn bg-yellow color-black" data-dismiss="modal">
                                    I ACCEPT
                                </button>
                            </div>
            </div>
           </div>
        </div>
    </div>

{% endblock %}

