{% extends 'base.html.twig' %}

{% block title %} My houses{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu.html.twig' %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">


                <div class="table-responsive">
                    <table class="table table-hover ">

                        <thead class="bg-yellow font-header">
                        <tr>
                            <th colspan="5">{{ 'dash_house' | trans({}, "messages", lang)}}</th>

                            <th><a href="#" data-toggle="modal" data-target="#contractModal" >
                                    <span class="glyphicon glyphicon-plus-sign font-header"  title={{ 'dash_add_house' | trans({}, "messages", lang)}}></span>
                                </a></th>

                        </tr>
                        </thead>
                        <thead class="bg-light-gray">
                        <tr>
                            <th>{{ 'form_Country' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'form_address' | trans({}, "messages", lang)}}</th>
                            <th>Plan</th>
                            <th>{{ 'dash_sdate' | trans({}, "messages", lang)}}</th>
                            <th>{{ 'dash_local_agent' | trans({}, "messages", lang)}}</th>
                            <th class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="house in houses">
                            <td ng-bind="house.country"></td>
                            <td ng-bind="house.address"></td>

                            <td ng-bind="house.plan"></td>


                            <td ng-bind="house.subscriptionDate"></td>
                            <td ng-bind="house.agentNumber"></td>
                            <td>

                                <button data-toggle="modal" data-target="#houseModal" ng-click="getSelectedHouseInfo(house.id)" class="btn-danger btn-xs"><span class="glyphicon glyphicon-align-justify" title={{ 'dash_view_details' | trans({}, "messages", lang)}}></span></button>
                                <button data-toggle="modal" data-target="#paymentsModal" ng-click="getPaymentsHistory(house.id)" class="btn-success btn-xs"><span class="glyphicon glyphicon glyphicon-usd" title={{ 'dash_view_payment' | trans({}, "messages", lang)}}></span></button>
                                <button data-toggle="modal" data-target="#cardchangeModal" ng-click="getPaymentsHistory(house.id)" class="btn-primary btn-xs"><span class="glyphicon glyphicon-credit-card" title={{ 'dash_view_payment' | trans({}, "messages", lang)}}></span></button>



                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>






            </div>



        </div>
    </div>





    <div class="pad">
    </div>
{% endblock %}