{% extends 'base.html.twig' %}

{% block class %}class="page-projects-3columns"{% endblock %}

{% block title %}General Pro -  Our plans {% endblock %}

{% block body %}

  <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.9">
    <ul>	<!-- SLIDE  -->
      <li data-index="rs-4" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="http://renovation.thememove.com/demo/wp-content/"  data-delay="9030"  data-rotate="0"  data-saveperformance="off"  data-title="Slide 1" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ asset('images/page-home/services-16.jpg') }}" style='background-color:#333333' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
             id="slide-4-layer-11"
             data-x="['left','left','left','left']" data-hoffset="['720','720','720','720']"
             data-y="['top','top','top','top']" data-voffset="['238','238','238','238']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-transform_idle="o:1;"

             data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;s:200;e:Power4.easeInOut;"
             data-transform_out="opacity:0;s:300;s:300;"
             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
             data-start="1030"
             data-splitin="chars"
             data-splitout="none"
             data-responsive_offset="on"

             data-elementdelay="0.1"
             data-end="9000"

             style="z-index: 5; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">{{ 'plans_band_title' | trans({}, "messages", lang) }}
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption Renovation-SmallTitle   tp-resizeme rs-parallaxlevel-2"
             id="slide-4-layer-3"
             data-x="['left','left','left','left']" data-hoffset="['725','725','725','725']"
             data-y="['top','top','top','top']" data-voffset="['326','326','326','326']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-transform_idle="o:1;"

             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
             data-transform_out="opacity:0;s:300;s:300;"
             data-start="880"
             data-splitin="none"
             data-splitout="none"
             data-responsive_offset="on"

             data-end="9000"

             style="z-index: 6; white-space: nowrap; color: black; font-size: 1.8em;">{{ 'plans_band_sub' | trans({}, "messages", lang) }}
        </div>

        <!-- LAYER NR. 6 -->

      </li>
      <!-- SLIDE  -->
      <li data-index="rs-5" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="http://renovation.thememove.com/demo/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="Slide 2" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ asset('images/page-home/services-08.jpg') }}" style='background-color:#E7E7E7' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->


      <!-- SLIDE  -->





    </ul>
    <div class="tp-static-layers">
    </div>
    <div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>
  </div><!-- END REVOLUTION SLIDER -->

  <div class="site-content" ng-controller="PageNavigationController">
    <section class="projects">

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="button-group filters-button-group">
              <button class="button" ng-click = "setPlanInfo('basic')"
                      data-filter=".basic-plan">GP Basic</button>
              <button class="button" ng-click = "setPlanInfo('plus')"
                      data-filter=".gp-plus">GP Plus</button>
              <button class="button" ng-click = "setPlanInfo('add')"
                      data-filter=".additional">GP Add</button>
            </div>
          </div>
        </div>
      </div>

      <div class="content" >
        <div class="container">
          <h3 class="text-center" ng-bind="plan.name"></h3>
          <p class="text-center" ng-bind="plan.text"></p>
          <div class="row">
            <div class="col-xs-12">
              <div class="grid">

                <div class="element-item basic-plan" data-category="basic-plan">
                  <img src="{{ asset('images/page-home/services-012.jpg') }}" alt="Locksmith">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle"> {{ 'locksmith' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description">{{ 'service_locksmith_resume' | trans({}, "messages", lang) }}<br>&nbsp;</p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

                <div class="element-item basic-plan" data-category="basic-plan">
                  <img src="{{ asset('images/page-home/services-022.jpg') }}" alt="Electrical">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{{ 'electricity' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description">{{ 'service_electricity_resume' | trans({}, "messages", lang) }}</p><br/>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

                <div class="element-item basic-plan" data-category="basic-plan">
                  <img src="{{ asset('images/page-home/services-032.jpg') }}" alt="Windows and doors">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle"> {{ 'doors_windows' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description">{{ 'service_doorswindows_resume' | trans({}, "messages", lang) }}</p><br/>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                      </br>
                      </br>

                    </div>
                  </div>
                </div>


                <div class="element-item basic-plan" data-category="basic-plan">
                  <img src="{{ asset('images/page-home/services-042.jpg') }}" alt="Plumbing">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle"> {{ 'plumbing' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description">{{ 'service_plumbing_resume' | trans({}, "messages", lang) }}</p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                      </br>
                      </br>
                      </br>
                    </div>
                  </div>
                </div>

                <div class="element-item gp-plus" data-category="gp-plus">
                  <img src="{{ asset('images/page-home/services-05.jpg') }}" alt="Appliances">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{{ 'ac_heating' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description">{{ 'plans_ac_heating' | trans({}, "messages", lang) }}</p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                      </br>
                    </div>
                  </div>
                </div>

                <div class="element-item gp-plus" data-category="gp-plus">
                  <img src="{{ asset('images/page-home/services-11.jpg') }}" alt="Appliances">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{{ 'appliances' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description">{{ 'service_appliances_resume' | trans({}, "messages", lang) }}</p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-07.jpg') }}" alt="nursing">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{{ 'nursing_care' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description"> {{ 'plans_nursing' | trans({}, "messages", lang) }}</p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                      </br>
                      </br>
                      </br>
                    </div>
                  </div>
                </div>

                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-08.jpg') }}" alt="child care">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{{ 'child_Care' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description"> {{ 'plans_child' | trans({}, "messages", lang) }}</p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>



                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-09.jpg') }}" alt="Gardening">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{{ 'lawn_maintenance' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description">{{ 'plans_lawn' | trans({}, "messages", lang) }} </p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-06.jpg') }}" alt="House cleaning">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle"> {{ 'cleaning_services' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description">{{ 'plans_cleaning' | trans({}, "messages", lang) }}</p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-10.jpg') }}" alt="House cleaning">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{{ 'it_support_services' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description">{{ 'plans_support' | trans({}, "messages", lang) }}</p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>
                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-12.jpg') }}" alt="Painting service">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{{ 'painting_services' | trans({}, "messages", lang) }}</h3>
                      <p class="grid-overlay-description">{{ 'plans_painting' | trans({}, "messages", lang) }}
                      </p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

  </div>
    <input type="hidden" id="GPBasic" value="{{ 'plan_gpbasic' | trans({}, "messages", lang) }}">
    <input type="hidden" id="GPPlus" value="{{ 'plan_gpplus' | trans({}, "messages", lang) }}">
  <input type="hidden" id="GPAdd" value="{{ 'plan_gpadd' | trans({}, "messages", lang) }}">
<input type="hidden" id="allPlans" value="{{ 'plan_all' | trans({}, "messages", lang) }}">
{% endblock %}
