{% extends 'base.html.twig' %}

{% block title %} Our plans {% endblock %}

{% block body %}

  <div class="provide-services row row-xs-center">
     <div class="col-md-12">
        <div class="we-are-layoutplan_pro">
   
      <h2 class="provide-services_title">Our plans</h2>
      <p class="provide-services_description">Every home owner has a list of handyman, home repair, or home improvement projects he or she needs done both interior and exterior. Sometimes that list can get quite long, too! The bathrooms that needs updating.</p>
		</div>
	</div>
  </div>

  <div class="site-content">
  <section class="projects">

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="button-group filters-button-group">
            <button class="button" data-filter=".basic-plan">Basic Plan</button>
            <button class="button" data-filter=".gp-plus">GP Plus</button>
            <button class="button" data-filter=".additional">Additional services</button>
          </div>
        </div>
      </div>
    </div>
	
    <div class="content">
      <div class="container">
		<h3 class="text-center">BASIC PLAN</h3>
        <div class="row">
          <div class="col-xs-12">
            <div class="grid">

              <div class="element-item basic-plan" data-category="basic-plan">
                <img src="{{ asset('images/page-home/services-012.jpg') }}" alt="Locksmith">
                <div class="grid-overlay">
                  <div class="grid-overlay-wrapper">
                    <h3 class="grid-overlay-tittle">Locksmith</h3>
                    <p class="grid-overlay-description">Have you ever lost your house keys and been worried, or had problems with your lock, then call us, our professional locksmith will solve your problems.<br>&nbsp;</p>
                    <a class="grid-overlay-readmore" href="#">read more</a>
                  </div>
                </div>
              </div>

              <div class="element-item basic-plan" data-category="basic-plan">
                <img src="{{ asset('images/page-home/services-022.jpg') }}" alt="Electrical">
                <div class="grid-overlay">
                  <div class="grid-overlay-wrapper">
                    <h3 class="grid-overlay-tittle">Electrical</h3>
                    <p class="grid-overlay-description">Frequently flickering or dimming lights are a common problem in homes, Our technicians are trained to fix these problems.</p><br/>
                    <a class="grid-overlay-readmore" href="#">read more</a>
                  </div>
                </div>
              </div>
			  
			  <div class="element-item basic-plan" data-category="basic-plan">
                <img src="{{ asset('images/page-home/services-032.jpg') }}" alt="Windows and doors">
                <div class="grid-overlay">
                  <div class="grid-overlay-wrapper">
                    <h3 class="grid-overlay-tittle">Windows and doors</h3>
                    <p class="grid-overlay-description">General Pro is responsible for installing windows or doors, replacing window panel, etc. To help you if you need these services do not hesitate to contact us...</p><br/>
                    <a class="grid-overlay-readmore" href="#">read more</a>
                  </div>
                </div>
              </div>
			  
			  <div class="element-item basic-plan" data-category="basic-plan">
                <img src="{{ asset('images/page-home/services-042.jpg') }}" alt="Plumbing">
                <div class="grid-overlay">
                  <div class="grid-overlay-wrapper">
                    <h3 class="grid-overlay-tittle">Plumbing</h3>
                    <p class="grid-overlay-description">Emergency plumbing situations are very stressful to deal with, Our goal is to minimize the stress and frustration associated with emergency repairs.</p>
                    <a class="grid-overlay-readmore" href="#">read more</a>
                  </div>
                </div>
              </div>
			  
			  <div class="element-item gp-plus" data-category="gp-plus">
                <img src="{{ asset('images/page-home/services-05.jpg') }}" alt="Appliances">
                <div class="grid-overlay">
                  <div class="grid-overlay-wrapper">
                    <h3 class="grid-overlay-tittle">AC/Heating</h3>
                    <p class="grid-overlay-description">We understand how much of an inconvenience your household appliances breaking down can be, Our repair team offer a fast and reliable service.</p>
                    <a class="grid-overlay-readmore" href="#">read more</a>
                  </div>
                </div>
              </div>
			  
			  	  <div class="element-item gp-plus" data-category="gp-plus">
                <img src="{{ asset('images/page-home/services-11.jpg') }}" alt="Appliances">
                <div class="grid-overlay">
                  <div class="grid-overlay-wrapper">
                    <h3 class="grid-overlay-tittle">Appliances</h3>
                    <p class="grid-overlay-description">We understand how much of an inconvenience your household appliances breaking down can be, Our repair team offer a fast and reliable service.</p>
                    <a class="grid-overlay-readmore" href="#">read more</a>
                  </div>
                </div>
              </div>
			  
			  <div class="element-item additional" data-category="additional">
                <img src="{{ asset('images/page-home/services-07.jpg') }}" alt="nursing">
                <div class="grid-overlay">
                  <div class="grid-overlay-wrapper">
                    <h3 class="grid-overlay-tittle">Nursing</h3>
                    <p class="grid-overlay-description">Need a professional person to care for a relative? Here's the solution, General Pro offers nursing services </p>
                    <a class="grid-overlay-readmore" href="#">read more</a>
                  </div>
                </div>
              </div>

              <div class="element-item additional" data-category="additional">
                <img src="{{ asset('images/page-home/services-08.jpg') }}" alt="child care">
                <div class="grid-overlay">
                  <div class="grid-overlay-wrapper">
                    <h3 class="grid-overlay-tittle">Child care</h3>
                    <p class="grid-overlay-description">You have work, a meeting or a commitment, and you need someone to take care of your children, General Pro offers child care services</p>
                    <a class="grid-overlay-readmore" href="#">read more</a>
                  </div>
                </div>
              </div>

              

              <div class="element-item additional" data-category="additional">
                <img src="{{ asset('images/page-home/services-09.jpg') }}" alt="Gardening">
                <div class="grid-overlay">
                  <div class="grid-overlay-wrapper">
                    <h3 class="grid-overlay-tittle">Gardening</h3>
                    <p class="grid-overlay-description">Would you like to have a beautiful green garden? General pro offers gardening services to make this a reality</p>
                    <a class="grid-overlay-readmore" href="#">read more</a>
                  </div>
                </div>
              </div>

              <div class="element-item additional" data-category="additional">
                <img src="{{ asset('images/page-home/services-06.jpg') }}" alt="House cleaning">
                <div class="grid-overlay">
                  <div class="grid-overlay-wrapper">
                    <h3 class="grid-overlay-tittle">House cleaning</h3>
                    <p class="grid-overlay-description">Do not have time to clean your house? Here's the solution, General Pro offers house cleaning services to meet your needs</p>
                    <a class="grid-overlay-readmore" href="#">read more</a>
                  </div>
                </div>
              </div>
			  
			       <div class="element-item additional" data-category="additional">
                <img src="{{ asset('images/page-home/services-10.jpg') }}" alt="House cleaning">
                <div class="grid-overlay">
                  <div class="grid-overlay-wrapper">
                    <h3 class="grid-overlay-tittle">Computer Assistance</h3>
                    <p class="grid-overlay-description">Do not have time to clean your house? Here's the solution, General Pro offers house cleaning services to meet your needs</p>
                    <a class="grid-overlay-readmore" href="#">read more</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
		
      </div>

    </div>
  </section>

</div>

{% endblock %}
