{% extends 'base.html.twig' %}

{% block class %}class="page-projects-3columns"{% endblock %}

{% block title %}General Pro -  Our plans {% endblock %}

{% block body %}

  <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.9">
    <ul>	<!-- SLIDE  -->
      <li data-index="rs-4" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="http://renovation.thememove.com/demo/wp-content/"  data-delay="9030"  data-rotate="0"  data-saveperformance="off"  data-title="Slide 1" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ asset('images/page-home/services-16.jpg') }}" style='background-color:#333333' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption Renovation-BigTitle   tp-resizeme rs-parallaxlevel-1"
             id="slide-4-layer-11"
             data-x="['left','left','left','left']" data-hoffset="['720','720','720','720']"
             data-y="['top','top','top','top']" data-voffset="['238','238','238','238']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-transform_idle="o:1;"

             data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;s:200;e:Power4.easeInOut;"
             data-transform_out="opacity:0;s:300;s:300;"
             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
             data-start="1030"
             data-splitin="chars"
             data-splitout="none"
             data-responsive_offset="on"

             data-elementdelay="0.1"
             data-end="9000"

             style="z-index: 5; white-space: nowrap; color: rgba(255, 255, 255, 1.00);">Our Plans
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption Renovation-SmallTitle   tp-resizeme rs-parallaxlevel-2"
             id="slide-4-layer-3"
             data-x="['left','left','left','left']" data-hoffset="['725','725','725','725']"
             data-y="['top','top','top','top']" data-voffset="['326','326','326','326']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-transform_idle="o:1;"

             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
             data-transform_out="opacity:0;s:300;s:300;"
             data-start="880"
             data-splitin="none"
             data-splitout="none"
             data-responsive_offset="on"

             data-end="9000"

             style="z-index: 6; white-space: nowrap; color: black; font-size: 1.8em;">Our three different plans vary based on the services provided and the monthly prices.
        </div>

        <!-- LAYER NR. 6 -->

      </li>
      <!-- SLIDE  -->
      <li data-index="rs-5" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="http://renovation.thememove.com/demo/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="Slide 2" data-description="">
        <!-- MAIN IMAGE -->
        <img src="{{ asset('images/page-home/services-08.jpg') }}" style='background-color:#E7E7E7' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->


      <!-- SLIDE  -->





    </ul>
    <div class="tp-static-layers">
    </div>
    <div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>
  </div><!-- END REVOLUTION SLIDER -->

  <div class="site-content" ng-controller="PageNavigationController">
    <section class="projects">

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="button-group filters-button-group">
              <button class="button" ng-click = "plan.name='GP Basic'; plan.text='The GP Basic plan consists of basic services, which include plumbing, electricity, locksmith, and doors and windows maintenance, for the convenient price of $24.99 per month. This plan’s activation requires a 30 day wait following your subscription. During those 30 days, an inspection of your home, as well as a confirmation of your demand will take place. Keep in mind that this plan fully covers our labor cost, but some additional materials might not be included.'"
                      data-filter=".basic-plan">GP Basic</button>


              <button class="button" ng-click = "plan.name='GP Plus'; plan.text='The GP Plus is an extention of the GP Basic, with the addition of  Air Conditioning, heating systems, and appliances repairs, for only $29.99 per month. This plan’s activation requires a 30 day wait following your subscription. During those 30 days, an inspection of your home, as well as a confirmation of your demand will take place. Keep in mind that this plan fully covers our labor cost, but some additional materials might not be included.'"

                      data-filter=".gp-plus">GP Plus</button>
              <button class="button" ng-click = "plan.name='GP Add'; plan.text= 'The GP Add brings additional services such as IT support, babysitting, nursing care, lawn maintenance, cleaning, and painting, each for a respectively fair price. In addition, if a client has already enrolled in another plan before requesting these services, a 10% discount will be applied to this price. This plan’s activation requires a 30 day wait following your subscription. During those 30 days, an inspection of your home, as well as a confirmation of your demand will take place. Keep in mind that this plan fully covers our labor cost, but some additional materials might not be included.'"
                      data-filter=".additional">GP Add</button>
            </div>
          </div>
        </div>
      </div>

      <div class="content" >
        <div class="container">
          <h3 class="text-center" ng-bind="plan.name"></h3>
          <p class="text-center" ng-bind="plan.text"></p>
          <div class="row">
            <div class="col-xs-12">
              <div class="grid">

                <div class="element-item basic-plan" data-category="basic-plan">
                  <img src="{{ asset('images/page-home/services-012.jpg') }}" alt="Locksmith">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle"> {% trans %}Locksmith{% endtrans %}</h3>
                      <p class="grid-overlay-description">Losing your keys, or having problems with your lock is one of the most exasperating events. However, our professional locksmiths can easily solve your problems and concerns. Our locksmith experts are at your disposal to repair and change keyhole or security locks. Trust our on-site locksmiths to seal, fix, repair, disassemble, and change locks or key jams.<br>&nbsp;</p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

                <div class="element-item basic-plan" data-category="basic-plan">
                  <img src="{{ asset('images/page-home/services-022.jpg') }}" alt="Electrical">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{% trans %}Electricity{% endtrans %}</h3>
                      <p class="grid-overlay-description">On a daily basis, dangerous and unforeseen breakdowns in electrical equipment take place. For safety reasons, the intervention of specialized technicians is necessary. General Pro allows you to request a highly trained technician to visit your home, in order for urgent repairs to be efficiently carried out.      </p><br/>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

                <div class="element-item basic-plan" data-category="basic-plan">
                  <img src="{{ asset('images/page-home/services-032.jpg') }}" alt="Windows and doors">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{% trans %}Doors and Windows{% endtrans %}</h3>
                      <p class="grid-overlay-description">Installing, replacing, and maintaining windows and doors is a difficult task. You can completely rely on our professionals to take care of such problems. Our team will help you solve any issues revolving around windows and doors. </p><br/>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                      </br>
                      </br>

                    </div>
                  </div>
                </div>


                <div class="element-item basic-plan" data-category="basic-plan">
                  <img src="{{ asset('images/page-home/services-042.jpg') }}" alt="Plumbing">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{% trans %}Plumbing{% endtrans %}</h3>
                      <p class="grid-overlay-description">Plumbing emergencies are very common and very stressful to deal with. We strive to reduce the stress and frustration associated with these emergencies. Our experts specialize in a multitude of repairs related to plumbing.        </p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                      </br>
                      </br>
                      </br>
                    </div>
                  </div>
                </div>

                <div class="element-item gp-plus" data-category="gp-plus">
                  <img src="{{ asset('images/page-home/services-05.jpg') }}" alt="Appliances">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{% trans %}AC/Heating{% endtrans %}</h3>
                      <p class="grid-overlay-description">The AC/heating system is essential to a house. No matter the season, this system is crucial to maintain a good temperature around. When this system is breaking down, or showing deficiencies many problems are caused. Our team of experts can efficiently take care of the flaws of your AC/heating system, so that you can lead a more comfortable life. </p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                      </br>
                    </div>
                  </div>
                </div>

                <div class="element-item gp-plus" data-category="gp-plus">
                  <img src="{{ asset('images/page-home/services-11.jpg') }}" alt="Appliances">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{% trans %}Appliances{% endtrans %}</h3>
                      <p class="grid-overlay-description">We understand that the breaking down of your household appliances causes many inconveniences. Every year, many appliances are thrown away for minor defects, while they could have been saved if treated by professionals. Our repair team offers a fast and reliable service. If you have a broken down washing machine, fridge freezer, cooker or any other appliance, we can help you fix them. </p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-07.jpg') }}" alt="nursing">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{% trans %}Nursing Care{% endtrans %}</h3>
                      <p class="grid-overlay-description">Need a professional person to care of a relative when you can’t? General Pro’s nursing services are just what you need. Our trustworthy professionals will take great care of your loved ones.  </p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                      </br>
                      </br>
                      </br>
                    </div>
                  </div>
                </div>

                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-08.jpg') }}" alt="child care">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">Child Care</h3>
                      <p class="grid-overlay-description">At times, you may have an important dinner, meeting, or you just need some time for yourself, but you also want your children to be taken care of. General Pro’s child care services are here for you! We have a network of reliable specialists that will ensure the well-being and safety of your children.    </p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>



                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-09.jpg') }}" alt="Gardening">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{% trans %}Lawn maintenance{% endtrans %}</h3>
                      <p class="grid-overlay-description"> Maintaining a garden can be a nightmare. Most people want a beautiful garden, but don’t have the time, nor patience to maintain it. Luckily for you, General Pro offers lawn maintenance. With our professionals, we can mow, weed, and trim your lawn, to give you the beautiful garden that you deserve.  </p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-06.jpg') }}" alt="House cleaning">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{% trans %}Cleaning services{% endtrans %}</h3>
                      <p class="grid-overlay-description">You want your house to be clean, but you don’t have time to do the cleaning yourself, we can help you. General Pro’s house cleaning services consist of professionally trained cleaners that will meet your demands. </p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-10.jpg') }}" alt="House cleaning">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{% trans %}IT support and services{% endtrans %}</h3>
                      <p class="grid-overlay-description">If your very essential computer is showing deficiencies, and you have no clue how to fix it, you can rely on us. General Pro offers services of computer support and technical assistance for both hardware and software flaws. </p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>
                <div class="element-item additional" data-category="additional">
                  <img src="{{ asset('images/page-home/services-12.jpg') }}" alt="Painting service">
                  <div class="grid-overlay">
                    <div class="grid-overlay-wrapper">
                      <h3 class="grid-overlay-tittle">{% trans %}Painting Services{% endtrans %}</h3>
                      <p class="grid-overlay-description">
                        You have decided that you want to change the color of your walls, but you realize that you don’t have the time, or the willingness to paint them. You can count on us! General Pro’s team of specialists will gladly fulfil your requests.   </p>
                      <!--<a class="grid-overlay-readmore" href="#">read more</a>-->
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

  </div>

{% endblock %}
