{% extends 'base.html.twig' %}

{% block title %} Register {% endblock %}

{% block body %}
<div class="pad">

</div>
<div class="container" ng-controller="UserController">
  <div class="row">
    <div class="col-xs-12">
      <h3>{{ 'form_signup' | trans({}, "messages", lang) }}</h3>

      <form class="form-login" id="frm_register" method="POST" action="{{ path('createCustomer') }}">
        <h5 class="error-message text-bold text-center" ng-bind="auth.message" class=""> </h5>
	   <div class="form-group">
          <label for="firstName">{{ 'form_name' | trans({}, "messages", lang) }}*</label>
          <input type="text" id="firstName" name="firstName" ng-model="user.firstName"  required>
        </div>
		 <div class="form-group">
          <label for="lastName">{{ 'form_lastname' | trans({}, "messages", lang) }}*</label>
          <input type="text" id="lastName" name="lastName" ng-model="user.lastName" required>
        </div>
	  
        <div class="form-group">
          <label for="email">{{ 'form_email' | trans({}, "messages", lang) }}*</label>
          <input type="email" id="email" name="email" ng-model="user.email" required>
        </div>
        <div class="form-group">
          <label for="pwd">{{ 'form_password' | trans({}, "messages", lang) }}*</label>
          <input type="password" id="pwd" name="pwd" ng-model="user.pwd" required>
        </div>
        <div class="form-group">
          <label for="pwd">{{ 'modal_confirm_password' | trans({}, "messages", lang) }}</label>
          <input type="password" id="cPwd" name="cPwd" ng-model="user.cPwd" required>
        </div>
		
		<div class="form-group">
          <label for="phonePrimary">{{ 'form_phone_primary' | trans({}, "messages", lang) }}*</label>
          <input type="tel" id="phonePrimary" name="phonePrimary" ng-model="user.phonePrimary" required>
        </div>
		
		<div class="form-group">
          <label for="phoneAlternate">{{ 'form_phone_alternate' | trans({}, "messages", lang) }}</label>
          <input type="tel" id="phoneAlternate" name="phoneAlternate" ng-model="user.phoneAlternate">
        </div>
		<!-- <div class="form-group">
          <label for="country">Country*</label>
          <input type="text" id="country" name="country"  ng-model="user.country" required>
        </div>-->
        <div class="form-group">
          <label for="country">{{ 'form_Country' | trans({}, "messages", lang) }}*</label>
            <select name="country" id="country" ng-model= "user.country" required>
              {% for country in countries %}
                <option value="{{ country.country }}">{{ country.country }}</option>
              {% endfor %}
            </select>
        </div>

		 <div class="form-group">
          <label for="state">{{ 'form_state' | trans({}, "messages", lang) }}*</label>
          <input type="text" id="state" name="state" ng-model="user.state" required>
        </div>
		 <div class="form-group">
          <label for="city">{{ 'form_city' | trans({}, "messages", lang) }}*</label>
          <input type="text" id="city" name="city" ng-model="user.city" required>
        </div>
		 <div class="form-group">
          <label for="address">{{ 'form_address' | trans({}, "messages", lang) }}*</label>
          <input type="text" id="address" name="address" ng-model="user.address" required>
        </div>
		 <div class="form-group">
          <label for="zipCode">{{ 'form_zipcode' | trans({}, "messages", lang) }}*</label>
          <input type="text" id="zipCode" name="zipCode" ng-model="user.zipCode"  required>
        </div>

        <button type="button"  class="btn" ng-click="register()">{{ 'form_signup' | trans({}, "messages", lang) }}</button>
        
        
      </form>


    </div>
  </div>
</div>







{% endblock %}