{% extends 'base.html.twig' %}

{% block title %} Our services {% endblock %}

{% block body %}
  <div class="provide-services row row-xs-center">
     <div class="col-md-12">
        <div class="we-are-layout21_pro">

      <h2 class="provide-services_title">We Provide Professional Services to Make your Concerns Go Away</h2>
      <p class="provide-services_description">Every home owner dreams of having their home improvement projects done. Whether it consists in the interior, the exterior of the house, or even additional needs, our professionals will make your dreams come true. </p>
		</div>
	</div>
  </div>

<!-- /.provide-services -->

<section class="services services-style-04">
  <div class="service-content">
    <div class="container">

      <div class="row service-list_item" id="plumbing">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-042.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-plumbing"></i>
              </div>
              <a class="service-item_link" href="#">
                Plumbing
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#">{% trans %}Plumbing{% endtrans %}</a></h3>
          <p class="service-list_item-description_content">Plumbing emergencies are very common and very stressful to deal with. We strive to reduce the stress and frustration associated with these emergencies. Our experts specialize in a multitude of repairs related to plumbing.</div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>Unclog pipes</li>
            <li>Fix faucets</li>
            <li>Faucet Repair & Installation</li>
            <li>Sink Installation</li>
            <li>Toilet Repair & Installation</li>
            <li>Minor Plumbing Leaks</li>

          </ul>
        </div>
      </div>




      <div class="row service-list_item" id="electricity">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-022.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-electrical"></i>
              </div>
              <a class="service-item_link" href="#">
                Electricity
              </a>
            </div>
          </div>

        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#">{% trans %}Electricity{% endtrans %}</a></h3>
          <p class="service-list_item-description_content">On a daily basis, dangerous and unforeseen breakdowns in electrical equipment take place. For safety reasons, the intervention of specialized technicians is necessary. General Pro allows you to request a highly trained technician to visit your home, in order for urgent repairs to be efficiently carried out.     </div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>Switches and Socket Repair</li>
            <li>Light Fixture Installation</li>
            
          </ul>
        </div>
      </div>

      <div class="row service-list_item" id="service-windows-and-doors">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-032.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-painting"></i>
              </div>
              <a class="service-item_link" href="#">
                Doors and Windows
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#">{% trans %}Doors and Windows{% endtrans %}</a></h3>
          <p class="service-list_item-description_content">Installing, replacing, and maintaining windows and doors is a difficult task. You can completely rely on our professionals to take care of such problems. Our team will help you solve any issues revolving around windows and doors. </div><div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>Door installation</li>
            <li>Windows installation</li>
           <li>Replace window panel</li>
            <li>Repair window panel</li>
           
          </ul>
        </div>
      </div>


      <div class="row service-list_item" id="locksmith">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-012.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-renovation"></i>
              </div>
              <a class="service-item_link" href="#">
                Locksmith
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#">{% trans %}Locksmith{% endtrans %}</a></h3>
          <p class="service-list_item-description_content">Losing your keys, or having problems with your lock is one of the most exasperating events. However, our professional locksmiths can easily solve your problems and concerns. Our locksmith experts are at your disposal to repair and change keyhole or security locks. Trust our on-site locksmiths to seal, fix, repair, disassemble, and change locks or key jams.
        </div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>Installation</li>
            <li>Repair </li>
            <li>Change </li>
            <li>Opening locks </li>
            <li>Disassemble</li>
            <li>Fix</li>

          </ul>
        </div>
      </div>




      <div class="row service-list_item" id="appliances">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-05.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-heating"></i>
              </div>
              <a class="service-item_link" href="#">
                General Appliances
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#">{% trans %}Appliances{% endtrans %}</a></h3>
          <p class="service-list_item-description_content">We understand that the breaking down of your household appliances causes many inconveniences. Every year, many appliances are thrown away for minor defects, while they could have been saved if treated by professionals. Our repair team offers a fast and reliable service. If you have a broken down washing machine, fridge freezer, cooker or any other appliance, we can help you fix them.
        </div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>Washing machine</li>
            <li>Refrigerators</li>
            <li>Dishwashers</li>
            <li>Microwave</li>
            <li>Dryer</li>
            <li>Range Hood</li>
    
          </ul>
        </div>
      </div>

	        <div class="row service-list_item" id="additional-services">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-07.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-home"></i>
              </div>
              <a class="service-item_link" href="#">
                Additional services
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#"> {% trans %}Additional services{% endtrans %}</a></h3>
          <p class="service-list_item-description_content">General Pro genuinely cares about you and your family’s comfort and well-being, which is why we enable you to have more free time, and peace of mind, by offering our wide-ranging additional services. We cover any of your additional needs, such as childcare, lawn maintenance, IT support, and many more. </div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>Cleaning services</li>
            <li>Nursing Care</li>
            <li>Day care</li>
            <li>Lawn maintenance</li>
            <li>IT support & services</li>
            <li>Painting service</li>
          </ul>
        </div>
      </div>
	  	  

    </div>
  </div>
</section>
<!-- /.services-style-04 -->


{% endblock %}
