{% extends 'base.html.twig' %}

{% block title %} Our services {% endblock %}

{% block body %}
  <div class="provide-services row row-xs-center">
     <div class="col-md-12">
        <div class="we-are-layout21_pro">
   
      <h2 class="provide-services_title">We Provide Professional Services</h2>
      <p class="provide-services_description">Every home owner has a list of handyman, home repair, or home improvement projects he or she needs done both interior and exterior. Sometimes that list can get quite long, too! The bathrooms that needs updating.</p>
		</div>
	</div>
  </div>

<!-- /.provide-services -->

<section class="services services-style-04">
  <div class="service-content">
    <div class="container">

      <div class="row service-list_item" id="locksmith">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-012.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-renovation"></i>
              </div>
              <a class="service-item_link" href="#">
                Locksmith
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#">Locksmith</a></h3>
          <p class="service-list_item-description_content">Have you ever lost your house keys and been worried, or had problems with your lock, then call us, our professional locksmith will solve your problems.
Our locksmith experts are at your disposal to repair or change keyhole locks or security locks. Trust our on-site locksmiths to seal, fix, repair, disassemble or change locks (also furniture) or key jams.
</div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li><a href="#">Installation</a></li>
            <li><a href="#">Repair </a></li>
            <li><a href="#">Change </a></li>
            <li><a href="#">Opening locks</a></li>
            <li><a href="#">Disassemble</a></li>
            <li><a href="#">Fix</a></li>
         
          </ul>
        </div>
      </div>

      <div class="row service-list_item" id="electricity">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-022.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-electrical"></i>
              </div>
              <a class="service-item_link" href="#">
                Electricity
              </a>
            </div>
          </div>

        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#">Electricity</a></h3>
          <p class="service-list_item-description_content">On a daily basis there are unforeseen events and breakdowns in electrical systems or equipment, which is why, for safety reasons, the intervention of specialized technicians is necessary. With the GeneralPro Service you can request the visit of a technician to your home, to carry out an urgent repair of a damaged electrical system or equipment.</div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li><a href="#">Switches and Socket Repair</a></li>
            <li><a href="#">Light Fixture Installation</a></li>
            
          </ul>
        </div>
      </div>

      <div class="row service-list_item" id="service-windows-and-doors">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-032.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-painting"></i>
              </div>
              <a class="service-item_link" href="#">
                Doors and Windows
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#">Doors and Windows</a></h3>
          <p class="service-list_item-description_content">General Pro is responsible for installing windows or doors, replacing window panel, etc. To help you if you need these services do not hesitate to contact us</div><div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li><a href="#">Door installation</a></li>
            <li><a href="#">Windows installation</a></li>
           <li><a href="#">Replace window panel</a></li>
        
           
          </ul>
        </div>
      </div>

      <div class="row service-list_item" id="plumbing">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-042.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-plumbing"></i>
              </div>
              <a class="service-item_link" href="#">
                Plumbing
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#">Plumbing</a></h3>
          <p class="service-list_item-description_content">Emergency plumbing situations are very stressful to deal with, Our goal is to minimize the stress and frustration associated with emergency repairs.If you need a plumber to perform small plumbing repairs, our experts specialize in all types of repairs.</div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li><a href="#">Unclog pipes</a></li>
            <li><a href="#">Fix faucets</a></li>
            <li><a href="#">Faucet Repair & Installation</a></li>
            <li><a href="#">Sink Installation</a></li>
            <li><a href="#">Toilet Repair & Installation</a></li>
            <li><a href="#">Minor Plumbing Leaks</a></li>
           
          </ul>
        </div>
      </div>

      <div class="row service-list_item" id="appliances">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-05.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-heating"></i>
              </div>
              <a class="service-item_link" href="#">
                General Appliances
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#">General Appliances</a></h3>
          <p class="service-list_item-description_content">We understand how much of an inconvenience your household appliances breaking down can be, Our repair team offer a fast and reliable service.
If you have a broken down washing machine, fridge freezer, cooker or any other appliance we can probably help you save it as many appliances are thrown away every year for minor faults that could have been easily solved.
</div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li><a href="#">Washing machine</a></li>
            <li><a href="#">Refrigerators</a></li>
            <li><a href="#">Dishwashers</a></li>
            <li><a href="#">Microwave</a></li>
            <li><a href="#">Dryer</a></li>
            <li><a href="#">Range Hood</a></li>
    
          </ul>
        </div>
      </div>

	        <div class="row service-list_item" id="additional-services">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-07.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-home"></i>
              </div>
              <a class="service-item_link" href="#">
                Additional services
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title"><a href="#"> Additional services</a></h3>
          <p class="service-list_item-description_content">Do not have time to take care of housework, children or elderly people? Here is the solution, GeneralPro offers a wide range of services to cover the different needs of our customers</div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li><a href="#">Cleaning services</a></li>
            <li><a href="#">Nursing Care</a></li>
            <li><a href="#">Day care</a></li>
            <li><a href="#">Lawn maintenance</a></li>
            <li><a href="#">IT support & services</a></li>
          </ul>
        </div>
      </div>
	  	  

    </div>
  </div>
</section>
<!-- /.services-style-04 -->


{% endblock %}
