{% extends 'base.html.twig' %}

{% block title %} General Pro - Our services {% endblock %}

{% block body %}
  <div class="provide-services row row-xs-center">
     <div class="col-md-12">
        <div class="we-are-layout21_pro">

      <h2 class="provide-services_title">{{ 'service_band_title' | trans({}, "messages", lang) }}</h2>
      <h5 class="color-black">{{ 'service_band_sub' | trans({}, "messages", lang) }}</h5>
		</div>
	</div>
  </div>

<!-- /.provide-services -->

<section class="services services-style-04">
  <div class="service-content">
    <div class="container">

      <div class="row service-list_item" id="plumbing">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-042.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-plumbing"></i>
              </div>
              <a class="service-item_link" >
                  {{ 'plumbing' | trans({}, "messages", lang) }}
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title">{{ 'plumbing' | trans({}, "messages", lang) }}</h3>
          <p class="service-list_item-description_content">{{ 'service_plumbing_resume' | trans({}, "messages", lang) }}</div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>{{ 'service_plumbing_1' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_plumbing_2' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_plumbing_3' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_plumbing_4' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_plumbing_5' | trans({}, "messages", lang) }}</li>


          </ul>
        </div>
      </div>




      <div class="row service-list_item" id="electricity">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-022.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-electrical"></i>
              </div>
              <a class="service-item_link" >
                  {{ 'electricity' | trans({}, "messages", lang) }}
              </a>
            </div>
          </div>

        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title">{{ 'electricity' | trans({}, "messages", lang) }}</h3>
          <p class="service-list_item-description_content">{{ 'service_electricity_resume' | trans({}, "messages", lang) }}</div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>{{ 'service_electricity_1' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_electricity_2' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_electricity_3' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_electricity_4' | trans({}, "messages", lang) }}</li>

            
          </ul>
        </div>
      </div>

      <div class="row service-list_item" id="service-windows-and-doors">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-032.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-painting"></i>
              </div>
              <a class="service-item_link">
                  {{ 'doors_windows' | trans({}, "messages", lang) }}
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title">{{ 'doors_windows' | trans({}, "messages", lang) }}</h3>
          <p class="service-list_item-description_content">{{ 'service_doorswindows_resume' | trans({}, "messages", lang) }}</div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>{{ 'service_doorswindows_1' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_doorswindows_2' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_doorswindows_3' | trans({}, "messages", lang) }}</li>

           
          </ul>
        </div>
      </div>


      <div class="row service-list_item" id="locksmith">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-012.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-renovation"></i>
              </div>
              <a class="service-item_link">
                  {{ 'locksmith' | trans({}, "messages", lang) }}
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title">{{ 'locksmith' | trans({}, "messages", lang) }}</h3>
          <p class="service-list_item-description_content">{{ 'service_locksmith_resume' | trans({}, "messages", lang) }}
        </div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>{{ 'service_locksmith_1' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_locksmith_2' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_locksmith_3' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_locksmith_4' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_locksmith_5' | trans({}, "messages", lang) }}</li>


          </ul>
        </div>
      </div>




      <div class="row service-list_item" id="appliances">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-05.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-heating"></i>
              </div>
              <a class="service-item_link" >
                  {{ 'appliances' | trans({}, "messages", lang) }}
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title">{{ 'appliances' | trans({}, "messages", lang) }}</h3>
          <p class="service-list_item-description_content">{{ 'service_appliances_resume' | trans({}, "messages", lang) }}
        </div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>{{ 'service_appliances_1' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_appliances_2' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_appliances_3' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_appliances_4' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_appliances_5' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_appliances_6' | trans({}, "messages", lang) }}</li>
    
          </ul>
        </div>
      </div>

	        <div class="row service-list_item" id="additional-services">
        <div class="col-md-5">
          <div class="service-list_item-img">
            <img src="{{ asset('images/page-home/services-07.jpg') }}" alt="service">
            <div class="service-list_item-img-content">
              <div class="service-item_icon">
                <i class="rn-home"></i>
              </div>
              <a class="service-item_link" >
                  {{ 'additional_services' | trans({}, "messages", lang) }}
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-4 service-list_item-description">
          <h3 class="service-list_item-description_title">  {{ 'additional_services' | trans({}, "messages", lang) }}</h3>
          <p class="service-list_item-description_content">{{ 'service_additionalservices_resume' | trans({}, "messages", lang) }}</div>
        <div class="col-sm-5 col-md-3 service-list_item-categories">
          <ul>
            <li>{{ 'service_additionalservices_1' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_additionalservices_2' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_additionalservices_3' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_additionalservices_4' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_additionalservices_5' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_additionalservices_6' | trans({}, "messages", lang) }}</li>
            <li>{{ 'service_additionalservices_7' | trans({}, "messages", lang) }}</li>
          </ul>
        </div>
      </div>
	  	  

    </div>
  </div>
</section>
<!-- /.services-style-04 -->


{% endblock %}
