{% block body %}

    <div class="container">
        <div class="row" id="sidemenu">
            <div class="col-xs-12 col-md-3 border-yellow ">
                <div class="row bg-yellow" id="sidemenu-title">
                    <h4 class="col-xs-12 col-md-12">ADMIN CONSOLE</h4>
                </div>
                <div class="row bg-light-gray sidemenu-subtitle">
                    <div class="col-xs-12 col-md-12 spacer-large"><span class="glyphicon glyphicon-user" >&nbsp;</span>Customers</div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showadmincustomers') }}"></span>List customers</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_addadmincustomers') }}">&nbsp;</span>Add customers</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showadminhouses') }}">&nbsp;</span>Customers houses</a></div>
                </div>
                <div class="row bg-light-gray sidemenu-subtitle">
                    <div class="col-xs-12 col-md-12 spacer-large"><span class="glyphicon glyphicon-wrench" >&nbsp;</span>Technicians</div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showlisttechnicians') }}">&nbsp;</span>List technicians</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_addadmintechnicians') }}">&nbsp;</span>Add technicians</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showtechrequest') }}">&nbsp;</span>Request</a></div>
                </div>
                <div class="row bg-light-gray sidemenu-subtitle">
                    <div class="col-xs-12 col-md-12 spacer-large"><span class="glyphicon glyphicon-cog" >&nbsp;</span>Setting</div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showlocalagences') }}">&nbsp;</span>Local agences</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_addlocalagences') }}">&nbsp;</span>Add local agences</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showprices') }}">&nbsp;</span>Prices</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_addprices') }}">&nbsp;</span>Add prices</a></div>
                </div>

            </div>



        </div>
    </div>

















    <div class="pad">
    </div>
{% endblock %}

