{% block body %}

    <div class="container">
        <div class="row" id="sidemenu">
            <div class="col-xs-12 col-md-3 border-yellow ">
                <div class="row bg-yellow" id="sidemenu-title">
                    <h4 class="col-xs-12 col-md-12 text-center">ADMIN </h4>
                </div>
                <div class="row " id="sidemenu-title">
                    <h4 class="col-xs-12 col-md-12 text-center">Administration Console </h4>
                </div>
                <div class="row bg-light-gray sidemenu-subtitle">
                    <div class="col-xs-12 col-md-12 spacer-large text-center"></span>CUSTOMERS</div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showadmincustomers') }}"> <span class="glyphicon glyphicon-user" >&nbsp;</span>List customers</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_addadmincustomers') }}">&nbsp;<span class="glyphicon glyphicon-plus-sign" >&nbsp;</span>Add customers</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showadminhouses') }}">&nbsp;<span class="glyphicon glyphicon-home" >&nbsp;</span>Customers houses</a></div>
                </div>
                <div class="row bg-light-gray sidemenu-subtitle">
                    <div class="col-xs-12 col-md-12 spacer-large text-center">&nbsp;</span>TECHNICIANS</div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showlisttechnicians') }}">&nbsp;<span class="glyphicon glyphicon-wrench" >&nbsp;</span>List technicians</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_addadmintechnicians') }}">&nbsp;<span class="glyphicon glyphicon-plus-sign" >&nbsp;</span>Add technicians</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showtechrequest') }}">&nbsp;<span class="glyphicon glyphicon-calendar" >&nbsp;</span>Request</a></div>
                </div>
                <div class="row bg-light-gray sidemenu-subtitle">
                    <div class="col-xs-12 col-md-12 spacer-large text-center"></span>SETTING</div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showlocalagences') }}">&nbsp;<span class="glyphicon glyphicon-globe" >&nbsp;</span>Local agences</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_addlocalagences') }}">&nbsp;<span class="glyphicon glyphicon-plus-sign" >&nbsp;</span>Add local agences</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_showprices') }}">&nbsp;<span class="glyphicon glyphicon-usd" >&nbsp;</span>Prices</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('app_adminconsole_addprices') }}">&nbsp;<span class="glyphicon glyphicon-plus-sign" >&nbsp;</span>Add prices</a></div>
                </div>

            </div>



        </div>
    </div>

















    <div class="pad">
    </div>
{% endblock %}

