{% block body %}

    <div class="container">
        {% set isSuperAdmin  = app.session.get('isSuperAdmin') %}
        <input type="hidden" value="{{ isSuperAdmin }}" id="isSuperAdmin">
        <div class="row" id="sidemenu">
            <div class="col-xs-12 col-md-3 border-yellow ">
                <div class="row bg-yellow" id="sidemenu-title">
                    <h4 class="col-xs-12 col-md-12 text-center">ADMIN </h4>
                </div>
                <div class="row " id="sidemenu-title">
                    <h4 class="col-xs-12 col-md-12 text-center">{{ 'admin_administration_console' | trans({}, "messages", lang)}} </h4>
                </div>
                <div class="row bg-light-gray sidemenu-subtitle">
                    <div class="col-xs-12 col-md-12 spacer-large text-center"></span>{{ 'admin_customers' | trans({}, "messages", lang)}}</div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_customers') }}"> <span class="glyphicon glyphicon-user" >&nbsp;</span>{{ 'admin_list_customers' | trans({}, "messages", lang)}}</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_customer_new') }}">&nbsp;<span class="glyphicon glyphicon-plus-sign" >&nbsp;</span>{{ 'admin_add_customer' | trans({}, "messages", lang)}}</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_houses') }}">&nbsp;<span class="glyphicon glyphicon-home" >&nbsp;</span>{{ 'admin_customer_houses' | trans({}, "messages", lang)}}</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_requests') }}">&nbsp;<span class="glyphicon glyphicon-calendar" >&nbsp;</span>{{ 'admin_request' | trans({}, "messages", lang)}}</a></div>
                </div>
                <div class="row bg-light-gray sidemenu-subtitle">
                    <div class="col-xs-12 col-md-12 spacer-large text-center">&nbsp;</span>{{ 'admin_technitians' | trans({}, "messages", lang)}}</div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_technicians') }}">&nbsp;<span class="glyphicon glyphicon-wrench" >&nbsp;</span>{{ 'admin_list_technicians' | trans({}, "messages", lang)}}</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_technician_new') }}">&nbsp;<span class="glyphicon glyphicon-plus-sign" >&nbsp;</span>{{ 'admin_add_technician' | trans({}, "messages", lang)}}</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_technician_interventions') }}">&nbsp;<span class="glyphicon glyphicon-calendar" >&nbsp;</span>{{ 'admin_interventions' | trans({}, "messages", lang)}}</a></div>
                </div>

                {% if(isSuperAdmin=="1")  %}

                <div class="row bg-light-gray sidemenu-subtitle">
                    <div class="col-xs-12 col-md-12 spacer-large text-center"></span>{{ 'admin_settings' | trans({}, "messages", lang)}}</div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_agents') }}">&nbsp;<span class="glyphicon glyphicon-globe" >&nbsp;</span>{{ 'admin_local_agent_list' | trans({}, "messages", lang)}}</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_agent_new') }}">&nbsp;<span class="glyphicon glyphicon-plus-sign" >&nbsp;</span>{{ 'admin_add_local_agent' | trans({}, "messages", lang)}}</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_prices') }}">&nbsp;<span class="glyphicon glyphicon-usd" >&nbsp;</span>{{ 'admin_prices' | trans({}, "messages", lang)}}</a></div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_price_new') }}">&nbsp;<span class="glyphicon glyphicon-plus-sign" >&nbsp;</span>{{ 'admin_add_prices' | trans({}, "messages", lang)}}</a></div>
                </div>

                <div class="row bg-light-gray sidemenu-subtitle">
                    <div class="col-xs-12 col-md-12 spacer-large text-center"></span>{{ 'admin_other_other' | trans({}, "messages", lang)}}</div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_send_email_form') }}">&nbsp;<span class="glyphicon glyphicon-send" >&nbsp;</span>{{ 'admin_other_sendEmail' | trans({}, "messages", lang)}}</a></div>
                </div>
            </div>
                {% else %}
                <div class="row bg-light-gray sidemenu-subtitle">
                    <div class="col-xs-12 col-md-12 spacer-large text-center"></span>{{ 'admin_other_other' | trans({}, "messages", lang)}}</div>
                </div>
                <div class="row sidemenu-item">
                    <div class="col-xs-12 col-md-12 spacer-large"><a href="{{ url('rte_admin_send_email_form') }}">&nbsp;<span class="glyphicon glyphicon-send" >&nbsp;</span>{{ 'admin_other_sendEmail' | trans({}, "messages", lang)}}</a></div>
                </div>
            </div>

            {% endif %}

        </div>
    </div>

















    <div class="pad">
    </div>
{% endblock %}

