<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <style>
        img {
            width:8em;
            height:8em;

        }


        .table-head
        {
            background-color: #070b4f;
            color: white;
        }


        div.container {
            width: 100%;

        }
        tr:nth-child(even) {
            background-color: 	#F0F0F0;
        }
        header {
            padding: 1em;
            color: white;
            background-color: #FBD232;
            clear: left;
            text-align: center;
        }

        footer {
            padding: 1em;
            color: black;

            clear: left;
            text-align: center;
        }

        nav {
            float: left;
            max-width: 600px;
            margin: 0;
            padding: 4em;
        }


        article {
            float: right;
            margin-left: 170px;

            padding: 5em;
            overflow: hidden;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .tablero{

            float: right;
            width: 23%;
        }


    </style>
</head>
<body>

<div class="container">

    <header>
        <h1>INVOICE</h1>
    </header>





    <nav>


        <p > <img src="https://general-pro.com/images/gp.png"></p>

        <br>

        <i>GENERAL PRO</i>
        <p>{{ 'form_address' | trans({}, "messages", lang) }}: 661 Notre-Dame St-Remi,</p>
        <p>J0L 2L0 - Québec, Canada </p>
        <p>{{ 'form_phone_primary' | trans({}, "messages", lang) }}: 1-(514)-375-4523 </p>
        <p>{{ 'form_email' | trans({}, "messages", lang) }}: contact@general-pro.com </p>


    </nav>
    <article>

        <p>{{customerFullname}}, </p>
        <p>{{ address}}, </p>
        <p>{{ 'form_phone_primary' | trans({}, "messages", lang) }}: {{ telephone}} </p>
        <p>{{ 'form_email' | trans({}, "messages", lang) }}: {{ email }} </p>
        <br><br><br>
        <table style= "width:100%" >

            <tbody>
            <tr>
                <th style="text-align:left">{{ 'template_invoice' | trans({}, "messages", lang) }} #</th>
                <td>AF124343</td>

            </tr>
            <tr>
                <th style="text-align:left">{{ 'dash_sdate' | trans({}, "messages", lang) }}</th>
                <td>12-04-2017</td>

            </tr>
            <tr>
                <th style="text-align:left">{{ 'dash_amount' | trans({}, "messages", lang) }}</th>
                <td>29.99</td>

            </tr>
            </tbody>
        </table>




    </article>










    <footer>

        <table class="table table-striped" style="width:100%">
            <thead class="table-head" >
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Unit Cost</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Basic plan</td>
                <td>Plombing service </td>
                <td>19.99</td>
                <td>1</td>
                <td>19.99</td>
            </tr>
            <tr>
                <td>Add Service</td>
                <td>Painting service, 4 walls 2m each</td>
                <td>50</td>
                <td>4</td>
                <td>200.00</td>
            </tr>
            <tr>
                <td>Add Service</td>
                <td>Child Care</td>
                <td>20</td>
                <td>3</td>
                <td>60.00</td>
            </tr>
            </tbody>
        </table>

        <br>

        <table class="tablero">

            <tbody>
            <tr>
                <th>Subtotal</th>
                <td>279.99</td>

            </tr>
            <tr>
                <th>Tax</th>
                <td>0.00</td>

            </tr>
            <tr>
                <th>Total</th>
                <td>279.99</td>

            </tr>

            </tbody>
        </table>





    </footer>
















</div>



















</body>
</html>