<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you for choosing General Pro</title>

    <style>
        .img-logo {
            width:7em;
            height:6em;

        }

        .img-template {
            width:22em;
            height:15em;

        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #070b4f;
            color: white;
        }

        a {
            color: white;
        }
        li {
            float: left;
            color: white;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
            color: white;
        }
        .floating-box {
            float: left;
            width: 40%;
            height: 40%;
        }
        .floating-boxb {
            float: left;
            width: 40%;
            height: 40%;
            margin: 10px;
        }
    </style>



</head>
<body>
{% set lang = app.session.get('lang') %}



<div class="container">

    <div class="col-md-8 col-md-offset-2 panel panel-primary"> <br/>
        <p style="text-align:left;"> <img src="https://general-pro.com/images/gp.png" class="img-logo"></p>
        <br>
        <ul>
            <li><a href="https://general-pro.com/" target = "blank">{{ 'menu_home' | trans({}, "messages", lang) }}</a></li>
            <li><a href="https://general-pro.com/services" target = "blank">{{ 'menu_services' | trans({}, "messages", lang) }}</a></li>
            <li><a href="https://general-pro.com/plans" target = "blank">{{ 'menu_plans' | trans({}, "messages", lang) }}</a></li>
            <li><a href="https://general-pro.com/contact" target = "blank">{{ 'menu_contactus' | trans({}, "messages", lang) }}</a></li>
            <li><a href="https://general-pro.com/about" target = "blank">{{ 'menu_aboutus' | trans({}, "messages", lang) }}</a></li>
        </ul>



        <div class="floating-box">


            <p style="text-align:left;"> <img src="https://general-pro.com/images/page-home/{{ image }}.jpg" class="img-template"></p>
        </div>

        <div class="floating-boxb">
            <p>{{ 'template_welcome_dear' | trans({}, "messages", lang) }} {{customerFullname}}, </p>
            <p>
                {{ 'template_welcome' | trans({}, "messages", lang) }}
                <br/>{{ 'template_welcome_qs' | trans({}, "messages", lang) }}

                <br/><br/>{{ 'template_welcome_bye' | trans({}, "messages", lang) }}  General Pro


            </p>






        </div>

    </div>







</div>
</body>
</html>